@import url(./layouts.css);
@import url(./background.css);
@import url(./borders.css);

@font-face {
  font-family: PixelOperator;
  src: url(../assets/fonts/pixel_operator/PixelOperator.ttf);
}

@font-face {
  font-family: PixelOperatorBold;
  src: url(../assets/fonts/pixel_operator/PixelOperator-Bold.ttf);
}

ul {
  margin: 0;
  padding: 0;
  font-size: var(--regular);
  line-height: var(--space-sm);
  color: var(--black);
}

li {
  margin: 0;
  padding: 0px 0px 0px var(--space-m);
  list-style: none;
}

.input-w-tooltip {
  position: relative;
  display: flex;
  gap: var(--space-s);
  align-items: center;
  z-index: 0;
}

.tooltip {
  position: relative;
  display: flex;
  gap: var(--space-s);
  align-items: center;
  position: relative;
  z-index: 1;
}

.tooltip-trigger {
  font-size: var(--m);
  color: var(--yellow);
  text-shadow: -0px -0px var(--title-shadow), -0.2px -0.1px var(--title-shadow),
    -0.4px -0.2px var(--title-shadow), -0.6px -0.4px var(--title-shadow),
    -0.8px -0.4px var(--title-shadow), -1px -0.5px var(--title-shadow),
    -1.2px -0.6px var(--title-shadow), -1.4px -0.7px var(--title-shadow),
    -1.6px -0.8px var(--title-shadow), -1.8px -0.9px var(--title-shadow),
    -2px -1px var(--title-shadow);
  cursor: pointer;
  z-index: 1;
}

.tooltip-body {
  padding: var(--space-xs);
  position: absolute;
  top: -50%;
  left: 110%;
  display: none;
  z-index: 5;
  background-color: var(--white);
  min-width: 256px;
  width: 24vw;
}

.tooltip:hover .tooltip-body {
  display: block;
}

input::file-selector-button {
  box-sizing: border-box;
  border: none;
  border-top: 2px solid var(--highlight-yellow);
  border-bottom: 2px solid var(--shadow-yellow);
  font-family: PixelOperator;
  height: var(--s);
  position: absolute;
  top: var(--space-xs);
  left: var(--space-xs);
  background: linear-gradient(
    180deg,
    #f4b000 0 10%,
    #f7b200 0 20%,
    #fab400 0 30%,
    #fcb600 0 40%,
    #ffb800 0 50%,
    #ffb800 0 60%,
    #fcb600 0 70%,
    #fab400 0 80%,
    #f7b200 0 90%,
    #f4b000 0 100%
  );
  box-shadow: -2px 0 0 0 var(--neutral-border), 2px 0 0 0 var(--neutral-border),
    0 -2px 0 0 var(--neutral-border), 0 2px 0 0 var(--neutral-border);
}

input::file-selector-button:hover {
  background: linear-gradient(
    180deg,
    #ffc245 0 10%,
    #ffc652 0 20%,
    #ffca5f 0 30%,
    #ffcd6b 0 40%,
    #ffd177 0 50%,
    #ffd177 0 60%,
    #ffcd6b 0 70%,
    #ffca5f 0 80%,
    #ffc652 0 90%,
    #ffc245 0 100%
  );
  border-top: 2.1px solid var(--highlight-yellow);
  border-bottom: 2.1px solid var(--yellow);
}

input::file-selector-button:active {
  background: linear-gradient(
    180deg,
    #e3a300 0 10%,
    #e7a700 0 20%,
    #e9a900 0 30%,
    #ecab00 0 40%,
    #efac00 0 50%,
    #efac00 0 60%,
    #ecab00 0 70%,
    #e9a900 0 80%,
    #e7a700 0 90%,
    #e3a300 0 100%
  );
  border-top: 2px solid var(--yellow);
  border-bottom: 2px solid var(--shadow-yellow);
}

input:focus {
  outline: none;
}

input#upload {
  position: relative;
  padding-left: 6rem;
  padding-top: var(--space-s);
  font-size: var(--regular);
}

.error-message {
  padding: var(--space-s);
  color: var(--red);
}
