.bg {
	background: linear-gradient(180deg,
			#f9ecce 0 10%,
			#faf0d8 0 20%,
			#fcf4e2 0 30%,
			#fdf8ed 0 40%,
			#fffcf7 0 50%,
			#fffcf7 0 60%,
			#fdf8ed 0 70%,
			#fcf4e2 0 80%,
			#faf0d8 0 90%,
			#f9ecce 0 100%);
}

.overlay-bg {
	background-color: #ffdb9976;
}

.yellow-bg {
	background: linear-gradient(180deg,
			#f4b000 0 10%,
			#f7b200 0 20%,
			#fab400 0 30%,
			#fcb600 0 40%,
			#ffb800 0 50%,
			#ffb800 0 60%,
			#fcb600 0 70%,
			#fab400 0 80%,
			#f7b200 0 90%,
			#f4b000 0 100%);
}

.clear-bg {
	background: linear-gradient(180deg,
			#ffdc99 0 10%,
			#ffe0a5 0 20%,
			#ffe4b0 0 30%,
			#ffe8bb 0 40%,
			#ffecc6 0 50%,
			#ffecc6 0 60%,
			#ffe8bb 0 70%,
			#ffe4b0 0 80%,
			#ffe0a5 0 90%,
			#ffdc99 0 100%);
}

.red-bg {
	background: linear-gradient(180deg,
			#ce633b 0 10%,
			#d3673f 0 20%,
			#d96b42 0 30%,
			#de6e45 0 40%,
			#e37248 0 50%,
			#e37248 0 60%,
			#de6e45 0 70%,
			#d96b42 0 80%,
			#d3673f 0 90%,
			#ce633b 0 100%);
}

.green-bg {
	background: linear-gradient(180deg,
			#42b143 0 10%,
			#57b946 0 20%,
			#61bd48 0 30%,
			#6cc149 0 40%,
			#76c54b 0 50%,
			#76c54b 0 60%,
			#6cc149 0 70%,
			#61bd48 0 80%,
			#57b946 0 90%,
			#42b143 0 100%);
}