@keyframes load {
  0% {
    transform: translateY(0%) scale3d(1, 1, 1);
  }

  10% {
    transform: translateY(5%) scale3d(0.9, 1.1, 1);
  }

  20% {
    transform: translateY(10%) scale3d(0.8, 1.2, 1);
  }

  30% {
    transform: translateY(15%) scale3d(0.7, 1.3, 1);
  }

  40% {
    transform: translateY(20%) scale3d(0.8, 1.2, 1);
  }

  50% {
    transform: translateY(25%) scale3d(0.9, 1.1, 1);
  }

  60% {
    transform: translateY(30%) scale3d(1, 1, 1);
  }

  70% {
    transform: translateY(35%) scale3d(1.1, 0.9, 1);
  }

  80% {
    transform: translateY(35%) scale3d(1.2, 0.8, 1);
  }

  90% {
    transform: translateY(35%) scale3d(1.3, 0.7, 1);
  }

  100% {
    transform: translateY(35%) scale3d(1.4, 0.6, 1);
  }
}

@keyframes breathe {
  0% {
    transform: scale3d(1, 1, 1);
  }

  25% {
    transform: scale3d(1, 1.05, 1);
  }

  50% {
    transform: scale3d(1, 1, 1);
  }

  75% {
    transform: scale3d(1, 0.95, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes dance {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.breathe {
  transform-origin: bottom center;
  animation: breathe 3s linear alternate infinite;
}

.load {
  transform-origin: bottom center;
  animation: load 0.5s linear alternate infinite;
}

.load:nth-child(1) {
  animation-delay: 0s;
}

.load:nth-child(2) {
  animation-delay: 0.2s;
}

.load:nth-child(3) {
  animation-delay: 0.4s;
}

.letter-dance > span {
  display: inline-block;
  transform-origin: bottom center;
  animation: dance 1.2s ease-in-out infinite;
}
