.overlay-bg {
	background-color: #ffdb9976;
}

.bg {
	background: linear-gradient(180deg,
			#ffdc99 0 10%,
			#ffe0a5 0 20%,
			#ffe4b0 0 30%,
			#ffe8bb 0 40%,
			#ffecc6 0 50%,
			#ffecc6 0 60%,
			#ffe8bb 0 70%,
			#ffe4b0 0 80%,
			#ffe0a5 0 90%,
			#ffdc99 0 100%);
}

.bg:focus,
.bg:focus-visible {
	background: linear-gradient(180deg,
			#FFB732 0 10%,
			#FFD88F 0 20%,
			#FFDFA2 0 30%,
			#FFE5B4 0 40%,
			#FFECC6 0 50%,
			#FFECC6 0 60%,
			#FFE5B4 0 70%,
			#FFDFA2 0 80%,
			#FFD88F 0 90%,
			#FFB732 0 100%);
}

.bg-yellow {
	background: linear-gradient(180deg,
			#f4b000 0 10%,
			#f7b200 0 20%,
			#fab400 0 30%,
			#fcb600 0 40%,
			#ffb800 0 50%,
			#ffb800 0 60%,
			#fcb600 0 70%,
			#fab400 0 80%,
			#f7b200 0 90%,
			#f4b000 0 100%);
}

.bg-yellow:hover,
.bg-yellow:focus-visible {
	background: linear-gradient(180deg,
			#ffc245 0 10%,
			#ffc652 0 20%,
			#ffca5f 0 30%,
			#ffcd6b 0 40%,
			#ffd177 0 50%,
			#ffd177 0 60%,
			#ffcd6b 0 70%,
			#ffca5f 0 80%,
			#ffc652 0 90%,
			#ffc245 0 100%);
}

.bg-yellow:active {
	background: linear-gradient(180deg,
			#e3a300 0 10%,
			#e7a700 0 20%,
			#e9a900 0 30%,
			#ecab00 0 40%,
			#efac00 0 50%,
			#efac00 0 60%,
			#ecab00 0 70%,
			#e9a900 0 80%,
			#e7a700 0 90%,
			#e3a300 0 100%);
}

.bg-wood {
	background: linear-gradient(180deg,
			#996515 0 10%,
			#6D470F 0 20%,
			#784E10 0 30%,
			#996515 0 40%,
			#6D470F 0 50%,
			#996515 0 60%,
			#784E10 0 70%,
			#996515 0 80%,
			#6D470F 0 90%,
			#784E10 0 100%);
}

.bg-red {
	background: linear-gradient(180deg,
			#ce633b 0 10%,
			#d3673f 0 20%,
			#d96b42 0 30%,
			#de6e45 0 40%,
			#e37248 0 50%,
			#e37248 0 60%,
			#de6e45 0 70%,
			#d96b42 0 80%,
			#d3673f 0 90%,
			#ce633b 0 100%);
}

.bg-red:hover,
.bg-red:focus-visible,
.bg-red:active {
	background: linear-gradient(180deg,
			#ce633b 0 10%,
			#d3673f 0 20%,
			#d96b42 0 30%,
			#de6e45 0 40%,
			#e37248 0 50%,
			#e37248 0 60%,
			#de6e45 0 70%,
			#d96b42 0 80%,
			#d3673f 0 90%,
			#ce633b 0 100%);
}

.bg-green {
	background: linear-gradient(180deg,
			#42b143 0 10%,
			#57b946 0 20%,
			#61bd48 0 30%,
			#6cc149 0 40%,
			#76c54b 0 50%,
			#76c54b 0 60%,
			#6cc149 0 70%,
			#61bd48 0 80%,
			#57b946 0 90%,
			#42b143 0 100%);
}

.bg-green:hover,
.bg-green:focus-visible .bg-green:active {
	background: linear-gradient(180deg,
			#42b143 0 10%,
			#57b946 0 20%,
			#61bd48 0 30%,
			#6cc149 0 40%,
			#76c54b 0 50%,
			#76c54b 0 60%,
			#6cc149 0 70%,
			#61bd48 0 80%,
			#57b946 0 90%,
			#42b143 0 100%);
}

.bg-4F9FFF {
	background: linear-gradient(180deg,
			#306BB3 0 10%,
			#3878C6 0 20%,
			#4085D9 0 30%,
			#4792EC 0 40%,
			#4F9FFF 0 50%,
			#4F9FFF 0 60%,
			#4792EC 0 70%,
			#4085D9 0 80%,
			#3878C6 0 90%,
			#306BB3 0 100%);
}

.bg-5200FF {
	background: linear-gradient(180deg,
			#5200FF 0 10%,
			#6116FF 0 20%,
			#702DFF 0 30%,
			#7E43FF 0 40%,
			#8D59FF 0 50%,
			#8D59FF 0 60%,
			#7E43FF 0 70%,
			#702DFF 0 80%,
			#6116FF 0 90%,
			#5200FF 0 100%);
}

.bg-000080 {
	background: linear-gradient(180deg,
			#000080 0 10%,
			#161691 0 20%,
			#2C2CA2 0 30%,
			#4141B3 0 40%,
			#5757C4 0 50%,
			#5757C4 0 60%,
			#4141B3 0 70%,
			#2C2CA2 0 80%,
			#161691 0 90%,
			#000080 0 100%);
}

.bg-98A869 {
	background: linear-gradient(180deg,
			#6E794D 0 10%,
			#798554 0 20%,
			#83915B 0 30%,
			#8E9C62 0 40%,
			#98A869 0 50%,
			#98A869 0 60%,
			#8E9C62 0 70%,
			#83915B 0 80%,
			#798554 0 90%,
			#6E794D 0 100%);
}

.bg-BE5103 {
	background: linear-gradient(180deg,
			#BE5103 0 10%,
			#C1560A 0 20%,
			#C45C12 0 30%,
			#C45C12 0 40%,
			#C96620 0 50%,
			#C96620 0 60%,
			#C45C12 0 70%,
			#C45C12 0 80%,
			#C1560A 0 90%,
			#BE5103 0 100%);
}

.bg-CE4257 {
	background: linear-gradient(180deg,
			#AA4150 0 10%,
			#B34152 0 20%,
			#BC4254 0 30%,
			#C54255 0 40%,
			#CE4257 0 50%,
			#CE4257 0 60%,
			#C54255 0 70%,
			#BC4254 0 80%,
			#B34152 0 90%,
			#AA4150 0 100%);
}

#dropdown .bg-4F9FFF:hover,
#dropdown .bg-4F9FFF:focus,
#dropdown .bg-4F9FFF:focus-visible {
	background: linear-gradient(180deg,
			#4d84d9 0 10%,
			#5790e3 0 20%,
			#619df0 0 30%,
			#6baafc 0 40%,
			#75b7ff 0 50%,
			#75b7ff 0 60%,
			#6baafc 0 70%,
			#619df0 0 80%,
			#5790e3 0 90%,
			#4d84d9 0 100%);
}

#dropdown .bg-4F9FFF:active,
#dropdown .bg-4F9FFF.selected {
	background: linear-gradient(180deg,
			#244f83 0 10%,
			#2c598d 0 20%,
			#346298 0 30%,
			#3c6b9e 0 40%,
			#4372a3 0 50%,
			#4372a3 0 60%,
			#3c6b9e 0 70%,
			#346298 0 80%,
			#2c598d 0 90%,
			#244f83 0 100%);
}

#dropdown .bg-5200FF:hover,
#dropdown .bg-5200FF:focus,
#dropdown .bg-5200FF:focus-visible {
	background: linear-gradient(180deg,
			#6a33ff 0 10%,
			#7740ff 0 20%,
			#834bff 0 30%,
			#8f57ff 0 40%,
			#9d62ff 0 50%,
			#9d62ff 0 60%,
			#8f57ff 0 70%,
			#834bff 0 80%,
			#7740ff 0 90%,
			#6a33ff 0 100%);
}

#dropdown .bg-5200FF:active,
#dropdown .bg-5200FF.selected {
	background: linear-gradient(180deg,
			#3c00b3 0 10%,
			#4600c0 0 20%,
			#4f00cc 0 30%,
			#5800d7 0 40%,
			#6100e0 0 50%,
			#6100e0 0 60%,
			#5800d7 0 70%,
			#4f00cc 0 80%,
			#4600c0 0 90%,
			#3c00b3 0 100%);
}

#dropdown .bg-000080:hover,
#dropdown .bg-000080:focus,
#dropdown .bg-000080:focus-visible {
	background: linear-gradient(180deg,
			#1a1a99 0 10%,
			#2e2eb3 0 20%,
			#4343cc 0 30%,
			#5a5adf 0 40%,
			#7070f2 0 50%,
			#7070f2 0 60%,
			#5a5adf 0 70%,
			#4343cc 0 80%,
			#2e2eb3 0 90%,
			#1a1a99 0 100%);
}

#dropdown .bg-000080:active,
#dropdown .bg-000080.selected {
	background: linear-gradient(180deg,
			#00004c 0 10%,
			#0f0f66 0 20%,
			#1f1f80 0 30%,
			#2f2f99 0 40%,
			#3f3fb3 0 50%,
			#3f3fb3 0 60%,
			#2f2f99 0 70%,
			#1f1f80 0 80%,
			#0f0f66 0 90%,
			#00004c 0 100%);
}

#dropdown .bg-98A869:hover,
#dropdown .bg-98A869:focus,
#dropdown .bg-98A869:focus-visible {
	background: linear-gradient(180deg,
			#8ca971 0 10%,
			#97b47f 0 20%,
			#a0bd86 0 30%,
			#aac794 0 40%,
			#b3d1a2 0 50%,
			#b3d1a2 0 60%,
			#aac794 0 70%,
			#a0bd86 0 80%,
			#97b47f 0 90%,
			#8ca971 0 100%);
}

#dropdown .bg-98A869.selected,
#dropdown .bg-98A869:active {
	background: linear-gradient(180deg,
			#555c39 0 10%,
			#60663f 0 20%,
			#6b7044 0 30%,
			#767a4a 0 40%,
			#828550 0 50%,
			#828550 0 60%,
			#767a4a 0 70%,
			#6b7044 0 80%,
			#60663f 0 90%,
			#555c39 0 100%);
}

#dropdown .bg-BE5103:hover,
#dropdown .bg-BE5103:focus,
#dropdown .bg-BE5103:focus-visible {
	background: linear-gradient(180deg,
			#d7792b 0 10%,
			#de8541 0 20%,
			#e4905a 0 30%,
			#e4905a 0 40%,
			#e99f6f 0 50%,
			#e99f6f 0 60%,
			#e4905a 0 70%,
			#e4905a 0 80%,
			#de8541 0 90%,
			#d7792b 0 100%);
}

#dropdown .bg-BE5103.selected,
#dropdown .bg-BE5103:active {
	background: linear-gradient(180deg,
			#8b3800 0 10%,
			#944100 0 20%,
			#9e4800 0 30%,
			#9e4800 0 40%,
			#a85100 0 50%,
			#a85100 0 60%,
			#9e4800 0 70%,
			#9e4800 0 80%,
			#944100 0 90%,
			#8b3800 0 100%);
}

#dropdown .bg-CE4257:hover,
#dropdown .bg-CE4257:focus,
#dropdown .bg-CE4257:focus-visible {
	background: linear-gradient(180deg,
			#c46270 0 10%,
			#ce6777 0 20%,
			#d56c7c 0 30%,
			#db7180 0 40%,
			#e67787 0 50%,
			#e67787 0 60%,
			#db7180 0 70%,
			#d56c7c 0 80%,
			#ce6777 0 90%,
			#c46270 0 100%);
}

#dropdown .bg-CE4257.selected,
#dropdown .bg-CE4257:active {
	background: linear-gradient(180deg,
			#6f2a36 0 10%,
			#782e38 0 20%,
			#81243a 0 30%,
			#8b263c 0 40%,
			#94293e 0 50%,
			#94293e 0 60%,
			#8b263c 0 70%,
			#81243a 0 80%,
			#782e38 0 90%,
			#6f2a36 0 100%);
}