.tuna {
	background-image: url("tuna.png");
	position: absolute;
	left: 0px;
	top: 0px;
	width: 480px;
	height: 232px;
	z-index: 9;
}

.coral {
	background-image: url("coral.png");
	position: absolute;
	left: 120px;
	top: 736px;
	width: 1392px;
	height: 128px;
	z-index: 8;
}

.algae {
	background-image: url("algae.png");
	position: absolute;
	left: 32px;
	top: 472px;
	width: 1520px;
	height: 608px;
	z-index: 7;
}

.algae1 {
	background-image: url("algae1.png");
	position: absolute;
	left: 0px;
	top: 440px;
	width: 1456px;
	height: 456px;
	z-index: 6;
}

.algae2 {
	background-image: url("algae2.png");
	position: absolute;
	left: 0px;
	top: 440px;
	width: 1432px;
	height: 456px;
	z-index: 5;
}

.sand {
	background-image: url("sand.png");
	position: absolute;
	left: 0px;
	top: 648px;
	width: 1536px;
	height: 240px;
	z-index: 4;
}

.moutains {
	background-image: url("moutains.png");
	position: absolute;
	left: 0px;
	top: 112px;
	width: 1536px;
	height: 752px;
	z-index: 3;
}

.ocean-bg {
	background-image: url("Layer 3.png");
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1536px;
	height: 864px;
	z-index: 2;
}

.sunrays {
	background-image: url("Layer 8.png");
	opacity: 0.502;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1536px;
	height: 864px;
	z-index: 10;
}