@keyframes slide-right {
	0% {
		transform: translateX(-5vw);
	}

	100% {
		transform: translateX(200vw);
	}
}

@keyframes fadeInOut {
  0%, 50% { opacity: 0.33; visibility: visible; }
  50.01%, 100% { opacity: 0; visibility: hidden; }
}

@keyframes fadeOutIn {
  0%, 50% { opacity: 0; visibility: hidden; }
  50.01%, 100% { opacity: 0.33; visibility: visible; }
}

.tuna {
	position: absolute;
	left: -10.5%;
	top: 29%;
	width: 17.17%;
	z-index: 9;
	animation: slide-right 3.7s infinite;
	animation-timing-function: cubic-bezier(0.25, 0.1, 0.8, 1);
}

.coral {
	position: absolute;
	left: 20%;
	bottom: 0px;
	width: 1392px;
	height: 128px;
	z-index: 8;
}

.algae {
	position: absolute;
	left: 32px;
	bottom: 4%;
	width: 100vw;
	height: 45%;
	z-index: 7;
}

.algae1 {
	position: absolute;
	opacity: 33%;
	left: 0px;
	bottom: 6%;
	width: 100vw;
	height: 45%;
	z-index: 6;
	animation: fadeInOut 1.8s linear infinite;
}

.algae2 {
	position: absolute;
	left: 0px;
	opacity: 33%;
	bottom: 6%;
	width: 100vw;
	height: 45%;
	z-index: 5;
	animation: fadeOutIn 1.8s linear infinite;
}

.sand {
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100vw;
	height: 23.8%;
	z-index: 4;
}

.moutains {
	position: absolute;
	opacity: 33%;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 74.6%;
	z-index: 3;
}

.ocean-bg {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100vw;
	height: 100vh;
	z-index: 2;
}

.sunrays {
	opacity: 0.502;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100vw;
	height: 100vh;
	z-index: 10;
}