.bushes {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100vw;
  height: 34.72%;
  z-index: 4;
}

.trees {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 927px;
  z-index: 3;
}

.bg_tree {
  position: absolute;
  opacity: 50%;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 2;
}

.sunset {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.forest-court-bg {
	background-image: url('/public/assets/images/forest-scene/bg.png');
}