
_logs/
*.log
.env
.notes/
.secrets/
.vscode/
*.db
*.log
*.logs
*.pem
dist/
jest.results.txt
node_modules/
notes
package-lock.json
*.db
*.log*
services/pong/app/dist/
services/pong/app/static/style-dist.css