networks:
    transcendence:
        driver: bridge
        name: transcendence

secrets:
    root.crt:
        file: ${TSECRETS}/root.crt
    accessibility.crt:
        file: ${TSECRETS}/accessibility.crt
    accessibility.key:
        file: ${TSECRETS}/accessibility.key
    auth.crt:
        file: ${TSECRETS}/auth.crt
    auth.key:
        file: ${TSECRETS}/auth.key
    bff.crt:
        file: ${TSECRETS}/bff.crt
    bff.key:
        file: ${TSECRETS}/bff.key
    dashboards.crt:
        file: ${TSECRETS}/dashboards.crt
    dashboards.key:
        file: ${TSECRETS}/dashboards.key
    friends.crt:
        file: ${TSECRETS}/friends.crt
    friends.key:
        file: ${TSECRETS}/friends.key
    frontend.crt:
        file: ${TSECRETS}/frontend.crt
    frontend.key:
        file: ${TSECRETS}/frontend.key
    game-manager.crt:
        file: ${TSECRETS}/game-manager.crt
    game-manager.key:
        file: ${TSECRETS}/game-manager.key
    monitoring.crt:
        file: ${TSECRETS}/monitoring.crt
    monitoring.key:
        file: ${TSECRETS}/monitoring.key
    nginx.crt:
        file: ${TSECRETS}/nginx.crt
    nginx.key:
        file: ${TSECRETS}/nginx.key
    pong.crt:
        file: ${TSECRETS}/pong.crt
    pong.key:
        file: ${TSECRETS}/pong.key
    users.crt:
        file: ${TSECRETS}/users.crt
    users.key:
        file: ${TSECRETS}/users.key

services:
    accessibility:
        build:
            context: ./services/accessibility
            dockerfile: Dockerfile
        container_name: accessibility
        image: accessibility:0.0.1
        networks:
            - transcendence
        restart: unless-stopped
        environment:
            - NGINXIP=nginx
        secrets:
            - accessibility.key
            - accessibility.crt
            - root.crt
        volumes:
            - ./services/accessibility/app:/usr/app
            - ./services/accessibility/data:/usr/data
    auth:
        build:
            context: ./services/auth
            dockerfile: Dockerfile
        container_name: auth
        image: auth:0.0.1
        networks:
            - transcendence
        restart: unless-stopped
        environment:
            - NGINXIP=nginx
            - PORT=3939
            - JWT_SECRET=${JWT_SECRET}
            - NATS_SERVER_TOKEN=${NATS_SERVER_TOKEN}
        secrets:
            - auth.key
            - auth.crt
            - root.crt
            #    volumes:
        #      - ./services/account/app:/usr/app
        #      - ./services/account/data:/usr/data
        volumes:
            - ./services/auth/app:/usr/app
            - ./services/auth/data:/usr/data
    dashboard:
        build:
            context: ./services/dashboards
            dockerfile: Dockerfile
        container_name: dashboard
        image: dashboard:0.0.1
        networks:
            - transcendence
        restart: unless-stopped
        environment:
            - NGINXIP=nginx
        secrets:
            - dashboards.key
            - dashboards.crt
            - root.crt
        volumes:
            - ./services/dashboards/app:/usr/app
            - ./services/dashboards/data:/usr/data
    friends:
        build:
            context: ./services/friends
            dockerfile: Dockerfile
        container_name: friends
        image: friends:0.0.1
        networks:
            - transcendence
        restart: unless-stopped
        environment:
            - NGINXIP=nginx
        secrets:
            - friends.key
            - friends.crt
            - root.crt
        volumes:
            - ./services/friends/app:/usr/app
            - ./services/friends/data:/usr/data
    frontend:
        build:
            context: ./services/frontend
            dockerfile: Dockerfile
        container_name: frontend
        image: frontend:0.0.1
        networks:
            - transcendence
        restart: unless-stopped
        environment:
            - NGINXIP=nginx
        secrets:
            - frontend.key
            - frontend.crt
            - root.crt
        volumes:
            - ./services/frontend/app:/app
    bff:
        build:
            context: ./services/bff
            dockerfile: Dockerfile
        container_name: bff
        image: bff:0.0.1
        networks:
            - transcendence
        restart: unless-stopped
        environment:
            - NGINXIP=nginx
        secrets:
            - bff.key
            - bff.crt
            - root.crt
        volumes:
            - ./services/bff/app:/usr/app
        # user: "${T_UID}:${T_GID}"
    gamemanager:
        build:
            context: ./services/game-manager
            dockerfile: Dockerfile
        container_name: gamemanager
        image: gamemanager:0.0.1
        environment:
            - PORT=2121
            - NATS_SERVER_TOKEN=${NATS_SERVER_TOKEN}
            - NGINXIP=nginx
        networks:
            - transcendence
        restart: unless-stopped
        secrets:
            - game-manager.key
            - game-manager.crt
            - root.crt
        volumes:
            - ./services/game-manager/app:/usr/app
    monitoring:
        build:
            context: ./services/monitoring
            dockerfile: Dockerfile
        container_name: monitoring
        image: monitoring:0.0.1
        networks:
            - transcendence
        restart: unless-stopped
        environment:
            - NGINXIP=nginx
        secrets:
            - monitoring.key
            - monitoring.crt
            - root.crt
        volumes:
            - ./services/monitoring/app:/usr/app
    nats-server:
        build:
            context: ./services/NATS
            dockerfile: Dockerfile
        container_name: nats-server
        image: nats:0.0.1
        environment:
            - NATS_SERVER_TOKEN=${NATS_SERVER_TOKEN}
        networks:
            - transcendence
        restart: unless-stopped
    nginx:
        build:
            context: ./services/nginx/
            dockerfile: Dockerfile
        container_name: nginx
        environment:
            - NGINX_HOST=bigt.com
            - NGINX_PORT=443
        image: nginx:0.0.1
        networks:
            - transcendence
        ports:
            - '8443:443'
        restart: unless-stopped
        secrets:
            - nginx.key
            - nginx.crt
            - root.crt
    pong:
        build:
            context: ./services/pong
            dockerfile: Dockerfile
        container_name: pong
        environment:
            - NGINXIP=nginx
            - PORT=2020
            - NATS_SERVER_TOKEN=${NATS_SERVER_TOKEN}
        image: pong:0.0.1
        networks:
            - transcendence
        restart: unless-stopped
        secrets:
            - pong.key
            - pong.crt
            - root.crt
        volumes:
            - ./services/pong/app:/usr/app
        # user: "${T_UID}:${T_GID}"
    users:
        build:
            context: ./services/users
            dockerfile: Dockerfile
        container_name: users
        image: users:0.0.1
        networks:
            - transcendence
        restart: unless-stopped
        environment:
            - NGINXIP=nginx
        secrets:
            - users.key
            - users.crt
            - root.crt
        volumes:
            - ./services/users/app:/usr/app
            - ./services/users/data:/usr/data

volumes:
    friendsDB:
        driver: local
        driver_opts:
            device: services/friends/data
            o: bind
            type: none
    accessibilityDB:
        driver: local
        driver_opts:
            device: services/accessibility/data
            o: bind
            type: none
    accountDB:
        driver: local
        driver_opts:
            device: services/account/data
            o: bind
            type: none
    usersDB:
        driver: local
        driver_opts:
            device: services/users/data
            o: bind
            type: none
    statsDB:
        driver: local
        driver_opts:
            device: services/dashboards/data
            o: bind
            type: none
