networks:
    transcendence:
        driver: bridge
        name: transcendence

secrets:
    key.pem:
        file: ${TSECRETS}/key.pem
    cert.pem:
        file: ${TSECRETS}/cert.pem

services:
    accessibility:
        build:
            context: ./services/accessibility
            dockerfile: Dockerfile
        container_name: accessibility
        image: accessibility:0.0.1
        networks:
            - transcendence
        restart: unless-stopped
        environment:
            - NGINXIP=nginx
        volumes:
            - ./services/accessibility/app:/usr/app
            - ./services/accessibility/data:/usr/data
    auth:
        build:
            context: ./services/auth
            dockerfile: Dockerfile
        container_name: auth
        image: auth:0.0.1
        networks:
            - transcendence
        restart: unless-stopped
        environment:
            - NGINXIP=nginx
            - PORT=3939
            - JWT_SECRET=${JWT_SECRET}
            - NATS_SERVER_TOKEN=${NATS_SERVER_TOKEN}
        volumes:
            - ./services/auth/app:/usr/app
            - ./services/auth/data:/usr/data
    dashboard:
        build:
            context: ./services/dashboards
            dockerfile: Dockerfile
        container_name: dashboard
        image: dashboard:0.0.1
        networks:
            - transcendence
        restart: unless-stopped
        environment:
            - JWT_SECRET=${JWT_SECRET}
            - NGINXIP=nginx
            - PORT=1515
        volumes:
            - ./services/dashboards/app:/usr/app
            - ./services/dashboards/data:/usr/data
    friends:
        build:
            context: ./services/friends
            dockerfile: Dockerfile
        container_name: friends
        image: friends:0.0.1
        networks:
            - transcendence
        restart: unless-stopped
        environment:
            - NGINXIP=nginx
            - PORT=1616
            - JWT_SECRET=${JWT_SECRET}
        volumes:
            - ./services/friends/app:/usr/app
            - ./services/friends/data:/usr/data
    frontend:
        build:
            context: ./services/frontend
            dockerfile: Dockerfile
        container_name: frontend
        image: frontend:0.0.1
        networks:
            - transcendence
        restart: unless-stopped
        environment:
            - NGINXIP=nginx
            - NATS_SERVER_TOKEN=${NATS_SERVER_TOKEN}
            - HOST="localhost"
        volumes:
            - ./services/frontend/app:/app
    bff:
        build:
            context: ./services/bff
            dockerfile: Dockerfile
        container_name: bff
        image: bff:0.0.1
        networks:
            - transcendence
        restart: unless-stopped
        environment:
            - NGINXIP=nginx
            - PORT=1818
            - JWT_SECRET=${JWT_SECRET}
            - NATS_SERVER_TOKEN=${NATS_SERVER_TOKEN}
        volumes:
            - ./services/bff/app:/usr/app
    game-manager:
        build:
            context: ./services/game-manager
            dockerfile: Dockerfile
        container_name: game-manager
        image: gamemanager:0.0.1
        environment:
            - PORT=2121
            - NATS_SERVER_TOKEN=${NATS_SERVER_TOKEN}
            - NGINXIP=nginx
        networks:
            - transcendence
        restart: unless-stopped
        volumes:
            - ./services/game-manager/app:/usr/app
    monitoring:
        build:
            context: ./services/monitoring
            dockerfile: Dockerfile
        container_name: monitoring
        image: monitoring:0.0.1
        networks:
            - transcendence
        restart: unless-stopped
        environment:
            - NGINXIP=nginx
        volumes:
            - ./services/monitoring/app:/usr/app
    nats-server:
        build:
            context: ./services/nats-server
            dockerfile: Dockerfile
        container_name: nats-server
        image: nats:0.0.1
        environment:
            - NATS_SERVER_TOKEN=${NATS_SERVER_TOKEN}
        networks:
            - transcendence
        restart: unless-stopped
    nginx:
        build:
            context: ./services/nginx/
            dockerfile: Dockerfile
        container_name: nginx
        env_file: ./services/nginx/.nginx.env
        image: nginx:0.0.1
        networks:
            - transcendence
        ports:
            - '8443:443'
        restart: unless-stopped
        secrets:
            - cert.pem
            - key.pem
    pong:
        build:
            context: ./services/pong
            dockerfile: Dockerfile
        container_name: pong
        environment:
            - NGINXIP=nginx
            - PORT=2020
            - NATS_SERVER_TOKEN=${NATS_SERVER_TOKEN}
        image: pong:0.0.1
        networks:
            - transcendence
        restart: unless-stopped
        volumes:
            - ./services/pong/app:/usr/app
    users:
        build:
            context: ./services/users
            dockerfile: Dockerfile
        container_name: users
        image: users:0.0.1
        networks:
            - transcendence
        restart: unless-stopped
        environment:
            - NGINXIP=nginx
            - PORT=2626
            - JWT_SECRET=${JWT_SECRET}
        volumes:
            - ./services/users/app:/usr/app
            - ./services/users/data:/usr/data

volumes:
    friendsDB:
        driver: local
        driver_opts:
            device: services/friends/data
            o: bind
            type: none
    accessibilityDB:
        driver: local
        driver_opts:
            device: services/accessibility/data
            o: bind
            type: none
    accountDB:
        driver: local
        driver_opts:
            device: services/account/data
            o: bind
            type: none
    usersDB:
        driver: local
        driver_opts:
            device: services/users/data
            o: bind
            type: none
    statsDB:
        driver: local
        driver_opts:
            device: services/dashboards/data
            o: bind
            type: none
