@font-face {
	font-family: PixelOperator;
	src: url(./assets/fonts/pixel_operator/PixelOperator.ttf);
}

@keyframes a-grow {
	from {
		background-position: 100% 0;
	}

	to {
		background-position: 0 0;
	}
}

:root {
	font-size: 100%;
	font-family: PixelOperator;
	background: linear-gradient(180deg, var(--gradient1) 0%, var(--gradient2), var(--gradient3), var(--gradient4) 100%);
	background-repeat: no-repeat;
	margin: 0;

	--regular: 1rem;
	--s: 1.5rem;
	--m: 2rem;
	--ml: 2.5rem;
	--l: 3rem;
	--xl: 3.5rem;

	--image-s: 1.5rem;
	--image-m: 2rem;
	--image-l: 4rem;
	--image-xl: 8rem;

	--space-xs: 0.25rem;
	--space-s: 0.5rem;
	--space-sm: 1rem;
	--space-m: 2rem;
	--space-ml: 3rem;
	--space-l: 3.5rem;
	--space-xl: 4rem;

	--body-margin: 2.03rem;
	--single-col: 26.875rem;
	--double-col: 55.25rem;

	--br: 10px;

	--white: #fffcf7;
	--black: #372a25;
	--gradient1: #131254;
	--gradient2: #0f88fa;
	--gradient3: #64e6e8;
	--gradient4: #d1ffda;

	--highlight-green: #bde559;
	--green: #76c54b;
	--shadow-green: #04983a;

	--highlight-orange: #EB6302;
	--orange: #974308;
	--shadow-orange: #692C00;

	--highlight-red: #E37248;
	--red: #AF370B;
	--shadow-red: #6B1D00;

	--highlight-yellow: #FFE6A4;
	--yellow: #FFB800;
	--shadow-yellow: #D99D00;


	--neutral-border: #2A1E00;
	--border-red: #6B1D00;
	--border-green: #005a44;

	--coffee: #835441;
	--disabled: #fdeec8;
	--shadow-1: #d5b6aa;
	--shadow-2: #736864;

	.title-shadow {
		text-shadow:
			-0.0px -0.0px var(--orange),
			-0.2px -0.1px var(--orange),
			-0.4px -0.2px var(--orange),
			-0.6px -0.4px var(--orange),
			-0.8px -0.4px var(--orange),
			-1.0px -0.5px var(--orange),
			-1.2px -0.6px var(--orange),
			-1.4px -0.7px var(--orange),
			-1.6px -0.8px var(--orange),
			-1.8px -0.9px var(--orange),
			-2.0px -1.0px var(--orange),
			-2.2px -1.1px var(--orange),
			-2.4px -1.2px var(--orange),
			-2.6px -1.3px var(--orange),
			-2.8px -1.4px var(--orange),
			-3.0px -1.5px var(--orange),
			-3.2px -1.6px var(--orange),
			-3.4px -1.7px var(--orange),
			-3.6px -1.8px var(--orange),
			-3.8px -1.9px var(--orange),
			-4.0px -2.0px var(--orange),
			-4.2px -2.1px var(--orange),
			-4.4px -2.2px var(--orange),
			-4.6px -2.3px var(--orange),
			-4.8px -2.4px var(--orange),
			-5.0px -2.5px var(--orange);
		/* -5.2px -2.6px var(--orange),
			-5.4px -2.7px var(--orange),
			-5.6px -2.8px var(--orange),
			-5.8px -2.9px var(--orange),
			-6.0px -3.0px var(--orange),
			-6.2px -3.1px var(--orange),
			-6.4px -3.2px var(--orange),
			-6.6px -3.3px var(--orange),
			-6.8px -3.4px var(--orange),
			-7.0px -3.5px var(--orange),
			-7.2px -3.6px var(--orange),
			-7.4px -3.7px var(--orange),
			-7.6px -3.8px var(--orange),
			-7.8px -3.9px var(--orange),
			-8.0px -4.0px var(--orange),
			-8.2px -4.1px var(--orange),
			-8.4px -4.2px var(--orange),
			-8.6px -4.3px var(--orange),
			-8.8px -4.4px var(--orange),
			-9.0px -4.5px var(--orange); */
	}
}

body {
	margin: var(--body-margin);
}

.card {
	box-sizing: border-box;
	width: auto;
	display: grid;
	grid-template-columns: auto;
	gap: var(--space-m);
}

.block {
	box-sizing: border-box;
	display: grid;
	gap: var(--space-s);
	grid-template-columns: 1fr;
	grid-auto-rows: max-content;
}

.block-two-col {
	box-sizing: border-box;
	display: grid;
	gap: var(--space-s) var(--space-s);
	grid-template-columns: 1fr 1fr;
}

.input-grid {
	box-sizing: border-box;
	grid-template-columns: 1fr;
	grid-auto-rows: var(--space-m);
	display: grid;
	gap: var(--space-s);
	align-items: center;
}

.block-two-col>p {
	margin: 0px;
	padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-family: PixelOperator;
}

p,
span {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-size: var(--regular);
	font-family: PixelOperator;
	color: var(--black);
}

ul {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-size: var(--regular);
	line-height: var(--space-sm);
	color: var(--black);
}

li {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px var(--space-m);
	list-style: none;
}

.body-background {
	margin-left: var(--space-m);
	height: var(--xxl);
	width: auto;
}

.swatch {
	position: relative;
	margin-left: var(--space-m);
	height: var(--space-m);
	width: auto;
	box-shadow: 3x 3px var(--shadow-1);
}

.swatch>p {
	position: absolute;
	top: 18%;
	background-color: #ffffff00;
	margin-left: var(--space-xs);
}

.title-1 {
	color: var(--yellow);
	font-family: PixelOperator;
	text-align: center;
	font-size: var(--xl);
	line-height: 130%;
}

.title-2 {
	color: var(--yellow);
	font-family: PixelOperator;
	text-align: center;
	font-size: var(--l);
	line-height: 110%;
}

.title-3 {
	color: var(--yellow);
	font-family: PixelOperator;
	text-align: center;
	font-size: var(--m);
	line-height: 110%;
}

.title-4 {
	color: var(--yellow);
	text-align: center;
	font-size: var(--s);
	line-height: 100%;
}

.blockcode {
	border: var(--coffee) 1px solid;
	padding: var(--space-s);
}

.form-group {
	box-sizing: border-box;
	position: relative;
	min-width: fit-content;
}

.form-group>label {
	background-color: var(--white);
	color: var(--shadow-2);
	min-width: fit-content;
	padding: 0px var(--space-xs) 0px var(--space-xs);
	position: absolute;
	right: 8px;
	top: -8px;
	width: 10%;
}

input {
	/* -moz-appearance: none; */
	width: 100%;
	height: 100%;
	border: none;
	box-sizing: border-box;
	font-family: PixelOperator;
	font-size: var(--regular);
}

input[type=text] {
	padding: var(--space-xs) var(--space-s) var(--space-xs) var(--space-m);
}

input[type=range] {
	box-shadow:
		8px 8px var(--shadow-yellow) inset,
		-4px -4px var(--highlight-yellow) inset,
		-2px -2px var(--neutral-border),
		-2px 2px var(--neutral-border),
		2px -2px var(--neutral-border),
		2px 2px var(--neutral-border),
		-4px 0 0 0 var(--neutral-border),
		4px 0 0 0 var(--neutral-border),
		0 -4px 0 0 var(--neutral-border),
		0 4px 0 0 var(--neutral-border);
	background-color: var(--yellow);
	padding:4px;
	height: var(--s);
}

input[type=range]::-moz-range-thumb {
	outline: none;
	border: none;
	border-radius: 0;
	width: var(--m);
	height: var(--s);
	background-color: var(--orange);
	box-shadow:
		2px -2px var(--shadow-orange) inset,
		-2px 2px var(--highlight-orange) inset,
		-2px 0 0 0 var(--neutral-border),
		2px 0 0 0 var(--neutral-border),
		0 -2px 0 0 var(--neutral-border),
		0 2px 0 0 var(--neutral-border);
}

input[type=radio] {
	height: var(--s);
	width: var(--s);
	border-radius: 0px;
}
input::file-selector-button {
	font-family: PixelOperator;
	height: var(--s);
	position: absolute;
	top: var(--space-xs);
	left: var(--space-xs);
	background-color: var(--yellow);
	border: none;
	box-shadow: -2px 0 0 0 var(--neutral-border),
		2px 0 0 0 var(--neutral-border),
		0 -2px 0 0 var(--neutral-border),
		0 2px 0 0 var(--neutral-border);
}

input:focus {
	outline: none;
}

input#upload {
	position: relative;
	padding-left: var(--space-xxl);
	padding-top: var(--space-s);
	font-size: var(--regular);
}

.input-default {
	background-color: var(--white);
	color: var(--shadow-2);
}

.input-hover,
.input-default:hover {
	background-color: var(--white);
}

.input-default:active,
.input-default:focus,
.input-active,
.input-focus {
	background-color: var(--highlight-yellow);
	box-shadow: -4px 0 0 0 var(--neutral-border),
		4px 0 0 0 var(--neutral-border),
		0 -4px 0 0 var(--neutral-border),
		0 4px 0 0 var(--neutral-border), -2px -2px var(--neutral-border),
		-2px 2px var(--neutral-border),
		2px -2px var(--neutral-border),
		2px 2px var(--neutral-border),
		4px 4px var(--yellow) inset;
}

.bg-disabled {
	background-color: var(--disabled);
	border: none;
	color: var(--shadow-2);
}

.bg-invalid {
	background-color: var(--highlight-red);
	color: var(--black);
}

.bg-valid {
	background-color: var(--green);
	color: var(--black);
}

.error-message {
	padding: var(--space-s);
	color: var(--red);
}

.a-default,
.a-default:active {
	line-height: 140%;
	font-size: var(--regular);
	text-decoration: none;
	text-decoration: underline;
}

.a-visit {
	background-color: var(--disabled);
}

.a-hover,
.a-focus,
.a-default:hover,
.a-default:active,
.a-default:focus {
	text-decoration: none;
	background: linear-gradient(to left, transparent 50%, var(--yellow) 50%);
	background-size: 200% 100%;
	background-position: 100% 0;
	animation: a-grow 0.2s 1 linear forwards;
}

button {
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	font-family: PixelOperator;
	padding: var(--space-xs);
	font-size: var(--regular);
}

.button-bg {
	background-color: var(--yellow);
	border: none;
}

.avatar-wrapper {
	width: fit-content;
	height: fit-content;
	min-width: var(--image-s);
	min-height: var(--image-s);
	max-width: var(--image-xl);
	max-height: var(--image-xl);
	border: solid 1px var(--shadow-yellow);
	background-color: var(--yellow);
	overflow: hidden;
	border-radius: 80px;
	padding: var(--space-s);
	display: flex;
}

.avatar-s {
	max-height: var(--image-s);
	max-width: var(--image-s);
	display: block;
}

.avatar-m {
	max-height: var(--image-m);
	max-width: var(--image-m);
}

.avatar-l {
	height: var(--image-l);
	width: var(--image-l);
}

.avatar-xl {
	height: var(--image-xl);
	width: var(--image-xl);
}