@import url(./atoms.css);

.inert-border {
	box-shadow:
		-2px -2px var(--neutral-border),
		-2px 2px var(--neutral-border),
		2px -2px var(--neutral-border),
		2px 2px var(--neutral-border),
		-4px 0 0 0 var(--neutral-border),
		4px 0 0 0 var(--neutral-border),
		0 -4px 0 0 var(--neutral-border),
		0 4px 0 0 var(--neutral-border);
}

.inert-border-red {
	box-shadow:
		-2px -2px var(--border-red),
		-2px 2px var(--border-red),
		2px -2px var(--border-red),
		2px 2px var(--border-red),
		-4px 0 0 0 var(--border-red),
		4px 0 0 0 var(--border-red),
		0 -4px 0 0 var(--border-red),
		0 4px 0 0 var(--border-red);
}

.inert-border-thin {
	box-shadow:
		-1px -1px var(--neutral-border),
		-1px 1px var(--neutral-border),
		1px -1px var(--neutral-border),
		1px 1px var(--neutral-border),
		-2px 0 0 0 var(--neutral-border),
		2px 0 0 0 var(--neutral-border),
		0 -2px 0 0 var(--neutral-border),
		0 2px 0 0 var(--neutral-border);
}

.interactive-border {
	box-shadow:
		-2px -2px var(--neutral-border),
		-2px 2px var(--neutral-border),
		2px -2px var(--neutral-border),
		2px 2px var(--neutral-border),
		-4px 0 0 0 var(--neutral-border),
		4px 0 0 0 var(--neutral-border),
		0 -4px 0 0 var(--neutral-border),
		0 4px 0 0 var(--neutral-border);
}

.interactive-border-hover,
.interactive-border:hover {
	box-shadow:
		-2px -2px var(--neutral-border),
		-2px 2px var(--neutral-border),
		2px -2px var(--neutral-border),
		2px 2px var(--neutral-border),
		-4px 0 0 0 var(--neutral-border),
		4px 0 0 0 var(--neutral-border),
		0 -4px 0 0 var(--neutral-border),
		0 4px 0 0 var(--neutral-border),
		-4px -4px var(--highlight-yellow) inset;
}

.interactive-border-active,
.interactive-border:active {
	box-shadow:
		-2px -2px var(--neutral-border),
		-2px 2px var(--neutral-border),
		2px -2px var(--neutral-border),
		2px 2px var(--neutral-border),
		-4px 0 0 0 var(--neutral-border),
		4px 0 0 0 var(--neutral-border),
		0 -4px 0 0 var(--neutral-border),
		0 4px 0 0 var(--neutral-border),
		4px 4px var(--shadow-yellow) inset;
}

.interactive-border-disabled {
	box-shadow:
		-2px -2px var(--shadow-2),
		-2px 2px var(--shadow-2),
		2px -2px var(--shadow-2),
		2px 2px var(--shadow-2),
		-4px 0 0 0 var(--shadow-2),
		4px 0 0 0 var(--shadow-2),
		0 -4px 0 0 var(--shadow-2),
		0 4px 0 0 var(--shadow-2),
		4px 4px var(--shadow-1) inset,
		-4px -4px var(--white) inset;
}

.interactive-border-red {
	box-shadow:
		-2px -2px var(--border-red),
		-2px 2px var(--border-red),
		2px -2px var(--border-red),
		2px 2px var(--border-red),
		-4px 0 0 0 var(--border-red),
		4px 0 0 0 var(--border-red),
		0 -4px 0 0 var(--border-red),
		0 4px 0 0 var(--border-red);
}

.interactive-border-red:hover {
	box-shadow:
		-2px -2px var(--border-red),
		-2px 2px var(--border-red),
		2px -2px var(--border-red),
		2px 2px var(--border-red),
		-4px 0 0 0 var(--border-red),
		4px 0 0 0 var(--border-red),
		0 -4px 0 0 var(--border-red),
		0 4px 0 0 var(--border-red),
		-4px -4px var(--highlight-red) inset;
}

.interactive-border-red:active {
	box-shadow:
		-2px -2px var(--border-red),
		-2px 2px var(--border-red),
		2px -2px var(--border-red),
		2px 2px var(--border-red),
		-4px 0 0 0 var(--border-red),
		4px 0 0 0 var(--border-red),
		0 -4px 0 0 var(--border-red),
		0 4px 0 0 var(--border-red),
		4px 4px var(--shadow-red) inset;
}

.interactive-border-green {
	box-shadow:
		-2px -2px var(--border-green),
		-2px 2px var(--border-green),
		2px -2px var(--border-green),
		2px 2px var(--border-green),
		-4px 0 0 0 var(--border-green),
		4px 0 0 0 var(--border-green),
		0 -4px 0 0 var(--border-green),
		0 4px 0 0 var(--border-green);
}

.interactive-border-green:hover {
	box-shadow:
		-2px -2px var(--border-green),
		-2px 2px var(--border-green),
		2px -2px var(--border-green),
		2px 2px var(--border-green),
		-4px 0 0 0 var(--border-green),
		4px 0 0 0 var(--border-green),
		0 -4px 0 0 var(--border-green),
		0 4px 0 0 var(--border-green),
		-4px -4px var(--highlight-green) inset;
}

.interactive-border-green:active {
	box-shadow:
		-2px -2px var(--border-green),
		-2px 2px var(--border-green),
		2px -2px var(--border-green),
		2px 2px var(--border-green),
		-4px 0 0 0 var(--border-green),
		4px 0 0 0 var(--border-green),
		0 -4px 0 0 var(--border-green),
		0 4px 0 0 var(--border-green),
		4px 4px var(--shadow-green) inset;
}

.background-border {
	box-shadow:
		-2px -2px var(--white),
		-2px 2px var(--white),
		2px -2px var(--white),
		2px 2px var(--white),
		-4px 0 0 0 var(--white),
		4px 0 0 0 var(--white),
		0 -4px 0 0 var(--white),
		0 4px 0 0 var(--white);
}

.thin-border {
	box-shadow:
		-1px -1px var(--neutral-border),
		-1px 1px var(--neutral-border),
		1px -1px var(--neutral-border),
		1px 1px var(--neutral-border),
		-2px 0 0 0 var(--neutral-border),
		2px 0 0 0 var(--neutral-border),
		0 -2px 0 0 var(--neutral-border),
		0 2px 0 0 var(--neutral-border);
}

.thin-interactive-border-hover,
.thin-border:hover {
	box-shadow: -2px 0 0 0 var(--neutral-border),
		2px 0 0 0 var(--neutral-border),
		0 -2px 0 0 var(--neutral-border),
		0 2px 0 0 var(--neutral-border),
		-2px -2px var(--highlight-yellow) inset;
}

.thin-interactive-border-active,
.thin-border:active {
	box-shadow: -2px 0 0 0 var(--neutral-border),
		2px 0 0 0 var(--neutral-border),
		0 -2px 0 0 var(--neutral-border),
		0 2px 0 0 var(--neutral-border),
		2px 2px var(--shadow-yellow) inset;
}

.thin-interactive-border-disabled {
	box-shadow: -2px 0 0 0 var(--shadow-2),
		2px 0 0 0 var(--shadow-2),
		0 -2px 0 0 var(--shadow-2),
		0 2px 0 0 var(--shadow-2),
		2px 2px var(--shadow-1) inset,
		-2px -2px var(--white) inset;
}

.thin-interactive-border-error {
	box-shadow: -2px 0 0 0 var(--red),
		2px 0 0 0 var(--red),
		0 -2px 0 0 var(--red),
		0 2px 0 0 var(--red),
		2px 2px var(--highlight-red) inset;
}