@font-face {
	font-family: PixelOperator;
	src: url(./assets/fonts/pixel_operator/PixelOperator.ttf);
}

:root {
	font-size: 100%;
	font-family: PixelOperator;
	font-weight: 50;

	/* Sizing */
	--xxl: 6rem;
	--xl: 5rem;
	--l: 4rem;
	--m: 3rem;
	--s: 2rem;
	--xs: 1.6rem;
	--regular: 1rem;

	/* Spacing */
	--space-xs: 0.4rem;
	--space-s: 0.8rem;
	--space-sm: 1.2rem;
	--space-m: 1.6rem;
	--space-ml: 2.0rem;
	--space-l: 2.4rem;
	--space-xl: 3.2rem;

	/* Light theme */
	--light-bg: #fff8ea;
	--light-txt-coffee: #835441;
	--light-txt-neutral: #372a25;
	--ultra-light-bg: #fffcf7;

	/* Dark Theme */
	--dark-bg-coffee: #835441;
	--dark-coffee-txt: #fff8ea;

	--dark-bg-deep: #372a25;
	--dark-deep-txt-orange: #fed68d;
	--dark-deep-txt: #fff8ea;

	/* Accent colors */
	--blue-deep: #0E4A4B;
	--blue-light: #93EAEB;
	--deep-red: #bc3908;
	--orange-accent: #a74500;
	--watered-down-coffee: #d5b6aa;
	--yellow-accent: #f8ca53;

	margin: var(--space-m)
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0px 0px 0px 0px;
	padding: var(--space-s) 0px var(--space-s) 0px;
}

h1 {
	border-bottom: var(--orange-accent) solid var(--space-xs);
	border-right: var(--orange-accent) solid var(--space-xs);
}

p,
span {
	font-size: var(--regular);
	margin: 0.2rem 0px 0.2rem 0px;
	line-height: var(--space-sm);
}

ul {
	font-size: var(--regular);
	margin: 0px var(--space-xs) var(--space-xs) 0px;
	line-height: var(--space-sm);
}

label {
	font-size: var(--xs);
	color: #372a25;
}

input {
	width: 100%;
}

input:focus {
	outline: none;
}

.form-group>label {
	position: relative;
	top: 10px;
	left: 12px;
	background-color: var(--ultra-light-bg);
	box-sizing: border-box;
	padding:  0px var(--space-xs)  0px var(--space-xs);
	border-radius: 5px;
}

.input-inactive {
	box-sizing: border-box;
	background-color: var(--ultra-light-bg);
	border-radius: 5px;
	border: none;
	box-shadow: 2px 2px 5px var(--watered-down-coffee);
	color: var(--light-txt-coffee);
	font-family: PixelOperator;
	font-size: var(--regular);
	font-weight: bolder;
	height: var(--m);
	padding-left: var(--regular);
}

.input-active {
	box-sizing: border-box;
	background-color: var(--ultra-light-bg);
	border-radius: 5px;
	border: none;
	box-shadow: 2px 2px 5px var(--watered-down-coffee) inset;
	color: var(--light-txt-coffee);
	font-family: PixelOperator;
	font-size: var(--regular);
	font-weight: bolder;
	height: var(--m);
	outline: 1px solid var(--watered-down-coffee);
	padding-left: var(--regular);
}

.input-focus {
	box-sizing: border-box;
	background-color: var(--ultra-light-bg);
	border-radius: 5px;
	border: none;
	box-shadow: 2px 2px 5px var(--watered-down-coffee) inset;
	color: var(--light-txt-coffee);
	font-family: PixelOperator;
	font-size: var(--regular);
	font-weight: bolder;
	height: var(--m);
	padding-left: var(--regular);
}

.input-disabled {
	box-sizing: border-box;
	background-color: var(--ultra-light-bg);
	border-radius: 5px;
	border: none;
	box-shadow: 2px 2px 5px var(--watered-down-coffee) inset;
	color: var(--watered-down-coffee);
	font-family: PixelOperator;
	font-size: var(--regular);
	font-weight: bolder;
	height: var(--m);
	padding-left: var(--regular);
}

.input-error {
	box-sizing: border-box;
	background-color: var(--ultra-light-bg);
	border-radius: 5px;
	border: none;
	box-shadow: 2px 2px 5px var(--watered-down-coffee) inset;
	border: var(--deep-red) solid 1.5px;
	color: var(--deep-red);
	font-family: PixelOperator;
	font-size: var(--regular);
	font-weight: bolder;
	height: var(--m);
	padding-left: var(--regular);
}

.label-inactive {
	color: var(--light-txt-coffee);
	box-shadow: 1px 1px 0px var(--watered-down-coffee);
	font-size: var(--regular);
}

.label-active {
	color: var(--light-txt-coffee);
	font-size: var(--regular);
}

.label-focus {
	box-shadow: 1px 1px 0px var(--watered-down-coffee) inset;
	color: var(--light-txt-coffee);
	font-size: var(--regular);
}

.label-disabled {
	box-shadow: 2px 2px 5px var(--watered-down-coffee) inset;
	color: var(--watered-down-coffee);
	font-size: var(--regular);
}

.label-error {
	color: var(--deep-red);
	box-shadow: 2px 2px 5px var(--watered-down-coffee) inset;
	border: var(--deep-red) solid 1.5px;
	font-size: var(--regular);
}

.button-inactive {
	box-sizing: border-box;
	background-color: var(--ultra-light-bg);
	border-radius: 5px;
	border: none;
	box-shadow: 1px 1px 2px var(--watered-down-coffee);
	color: var(--light-txt-coffee);
	font-family: PixelOperator;
	font-size: var(--s);
	font-weight: bolder;
	height: var(--m);
	padding-left: var(--regular);
}

.button-hover {
	box-sizing: border-box;
	background-color: var(--ultra-light-bg);
	border-radius: 5px;
	border: none;
	box-shadow: 1px 1px 2px var(--watered-down-coffee);
	color: var(--light-txt-coffee);
	font-family: PixelOperator;
	font-size: var(--s);
	font-weight: bolder;
	height: var(--m);
	padding-left: var(--regular);
	background: linear-gradient(90deg, rgba(254, 214, 141, 0.50) 0%, rgba(255, 255, 255, 1) 70%);
	color: var(--light-txt-coffee);
}

.button-active {
	box-sizing: border-box;
	background-color: var(--ultra-light-bg);
	border-radius: 5px;
	border: none;
	box-shadow: 1px 1px 2px var(--watered-down-coffee) inset;
	color: var(--light-txt-coffee);
	font-family: PixelOperator;
	font-size: var(--s);
	font-weight: bolder;
	height: var(--m);
	padding-left: var(--regular);
	background-color: var(--ultra-light-bg);
	color: var(--light-txt-coffee);
}

.button-disabled {
	box-sizing: border-box;
	background-color: var(--ultra-light-bg);
	border-radius: 5px;
	border: none;
	box-shadow: 2px 2px 5px var(--watered-down-coffee) inset;
	color: var(--watered-down-coffee);
	font-family: PixelOperator;
	font-size: var(--s);
	font-weight: bolder;
	height: var(--m);
	padding-left: var(--regular);
}

.card {
	width: auto;
	display: grid;
	grid-template-columns: auto;
	gap: var(--space-m);
	overflow: hidden;
}

.palette {
	box-sizing: border-box;
	display: grid;
	gap: var(--space-xs);
	grid-template-columns: subgrid;
	/* justify-content: start; */
	padding: var(--space-s);
}

.palette div {
	margin-left: var(--space-m);
	height: var(--space-ml);
	width: auto;
	box-shadow: 3x 3px var(--watered-down-coffee);
}

.palette>div>p {
	margin-left: var(--space-s);
}

.palette p {
	margin-left: var(--space-s);
	margin-top: 5px;
}

.palette .body-background {
	background: repeating-linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(9, 78, 121, 1) 50%, rgba(0, 212, 255, 1) 100%);
	margin-left: var(--space-m);
	height: var(--xxl);
	width: auto;
}

.block {
	display: grid;
	width: 100%;
	grid-template-columns: subgrid;
	justify-content: start;
	padding: var(--space-xs);
	gap: var(--space-s);
}

.block p {
	margin-left: var(--space-s);
}

.content {
	background: repeating-linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(9, 78, 121, 1) 50%, rgba(0, 212, 255, 1) 100%);
	display: grid;
	grid-template-columns: subgrid;
	/* justify-content: start; */
	padding: var(--space-xs);
	gap: var(--space-sm);
	color: var(--light-txt-neutral);
	width: 100%;
}

.content span {
	box-sizing: border-box;
	padding: var(--space-s) var(--space-s) var(--space-s) var(--space-s);
	margin: var(--space-s) var(--space-s) var(--space-s) var(--space-s);
}

.content p {
	background-color: var(--ultra-light-bg);
	padding: var(--space-s) var(--space-s) var(--space-s) var(--space-s);
	margin: var(--space-s) var(--space-s) var(--space-s) var(--space-s);
	line-height: 140%;
	font-size: var(--regular);
	font-family: PixelOperator;
}

.content a {
	line-height: 140%;
	font-size: var(--regular);
	font-family: PixelOperator;
}

.content h1 {
	/* display: grid; */
	/* grid-template-columns: 0.5fr 3fr; */
	/* gap: var(--space-xs); */
	border: none;
	color: var(--yellow-accent);
	font-family: PixelOperator;
	text-align: center;
	text-shadow:
		-0.0px -0.0px var(--orange-accent),
		-0.2px -0.1px var(--orange-accent),
		-0.4px -0.2px var(--orange-accent),
		-0.6px -0.3px var(--orange-accent),
		-0.8px -0.4px var(--orange-accent),
		-1.0px -0.5px var(--orange-accent),
		-1.2px -0.6px var(--orange-accent),
		-1.4px -0.7px var(--orange-accent),
		-1.6px -0.8px var(--orange-accent),
		-1.8px -0.9px var(--orange-accent),
		-2.0px -1.0px var(--orange-accent),
		-2.2px -1.1px var(--orange-accent),
		-2.4px -1.2px var(--orange-accent),
		-2.6px -1.3px var(--orange-accent),
		-2.8px -1.4px var(--orange-accent),
		-3.0px -1.5px var(--orange-accent),
		-3.2px -1.6px var(--orange-accent),
		-3.4px -1.7px var(--orange-accent),
		-3.6px -1.8px var(--orange-accent),
		-3.8px -1.9px var(--orange-accent),
		-4.0px -2.0px var(--orange-accent),
		-4.2px -2.1px var(--orange-accent),
		-4.4px -2.2px var(--orange-accent),
		-4.6px -2.3px var(--orange-accent),
		-4.8px -2.4px var(--orange-accent),
		-5.0px -2.5px var(--orange-accent),
		-5.2px -2.6px var(--orange-accent),
		-5.4px -2.7px var(--orange-accent),
		-5.6px -2.8px var(--orange-accent),
		-5.8px -2.9px var(--orange-accent),
		-6.0px -3.0px var(--orange-accent),
		-6.2px -3.1px var(--orange-accent),
		-6.4px -3.2px var(--orange-accent),
		-6.6px -3.3px var(--orange-accent),
		-6.8px -3.4px var(--orange-accent),
		-7.0px -3.5px var(--orange-accent),
		-7.2px -3.6px var(--orange-accent),
		-7.4px -3.7px var(--orange-accent),
		-7.6px -3.8px var(--orange-accent),
		-7.8px -3.9px var(--orange-accent),
		-8.0px -4.0px var(--orange-accent),
		-8.2px -4.1px var(--orange-accent),
		-8.4px -4.2px var(--orange-accent),
		-8.6px -4.3px var(--orange-accent),
		-8.8px -4.4px var(--orange-accent),
		-9.0px -4.5px var(--orange-accent);

	font-size: var(--xxl);
	line-height: 130%;
}

.content h2 {
	border: none;
	color: var(--yellow-accent);
	font-family: PixelOperator;
	text-align: center;
	text-shadow:
		-0.0px -0.0px var(--orange-accent),
		-0.2px -0.1px var(--orange-accent),
		-0.4px -0.2px var(--orange-accent),
		-0.6px -0.3px var(--orange-accent),
		-0.8px -0.4px var(--orange-accent),
		-1.0px -0.5px var(--orange-accent),
		-1.2px -0.6px var(--orange-accent),
		-1.4px -0.7px var(--orange-accent),
		-1.6px -0.8px var(--orange-accent),
		-1.8px -0.9px var(--orange-accent),
		-2.0px -1.0px var(--orange-accent),
		-2.2px -1.1px var(--orange-accent),
		-2.4px -1.2px var(--orange-accent),
		-2.6px -1.3px var(--orange-accent),
		-2.8px -1.4px var(--orange-accent),
		-3.0px -1.5px var(--orange-accent),
		-3.2px -1.6px var(--orange-accent),
		-3.4px -1.7px var(--orange-accent),
		-3.6px -1.8px var(--orange-accent),
		-3.8px -1.9px var(--orange-accent),
		-4.0px -2.0px var(--orange-accent),
		-4.2px -2.1px var(--orange-accent),
		-4.4px -2.2px var(--orange-accent),
		-4.6px -2.3px var(--orange-accent),
		-4.8px -2.4px var(--orange-accent),
		-5.0px -2.5px var(--orange-accent),
		-5.2px -2.6px var(--orange-accent),
		-5.4px -2.7px var(--orange-accent),
		-5.6px -2.8px var(--orange-accent),
		-5.8px -2.9px var(--orange-accent),
		-6.0px -3.0px var(--orange-accent),
		-6.2px -3.1px var(--orange-accent),
		-6.4px -3.2px var(--orange-accent),
		-6.6px -3.3px var(--orange-accent),
		-6.8px -3.4px var(--orange-accent),
		-7.0px -3.5px var(--orange-accent),
		-7.2px -3.6px var(--orange-accent),
		-7.4px -3.7px var(--orange-accent),
		-7.6px -3.8px var(--orange-accent),
		-7.8px -3.9px var(--orange-accent),
		-8.0px -4.0px var(--orange-accent),
		-8.2px -4.1px var(--orange-accent),
		-8.4px -4.2px var(--orange-accent),
		-8.6px -4.3px var(--orange-accent),
		-8.8px -4.4px var(--orange-accent),
		-9.0px -4.5px var(--orange-accent);

	font-size: var(--xl);
	line-height: 110%;
}

.content h3 {
	border: none;
	color: var(--yellow-accent);
	font-family: PixelOperator;
	text-align: center;
	text-shadow:
		-0.0px -0.0px var(--orange-accent),
		-0.2px -0.1px var(--orange-accent),
		-0.4px -0.2px var(--orange-accent),
		-0.6px -0.3px var(--orange-accent),
		-0.8px -0.4px var(--orange-accent),
		-1.0px -0.5px var(--orange-accent),
		-1.2px -0.6px var(--orange-accent),
		-1.4px -0.7px var(--orange-accent),
		-1.6px -0.8px var(--orange-accent),
		-1.8px -0.9px var(--orange-accent),
		-2.0px -1.0px var(--orange-accent),
		-2.2px -1.1px var(--orange-accent),
		-2.4px -1.2px var(--orange-accent),
		-2.6px -1.3px var(--orange-accent),
		-2.8px -1.4px var(--orange-accent),
		-3.0px -1.5px var(--orange-accent),
		-3.2px -1.6px var(--orange-accent),
		-3.4px -1.7px var(--orange-accent),
		-3.6px -1.8px var(--orange-accent),
		-3.8px -1.9px var(--orange-accent),
		-4.0px -2.0px var(--orange-accent),
		-4.2px -2.1px var(--orange-accent),
		-4.4px -2.2px var(--orange-accent),
		-4.6px -2.3px var(--orange-accent),
		-4.8px -2.4px var(--orange-accent),
		-5.0px -2.5px var(--orange-accent),
		-5.2px -2.6px var(--orange-accent),
		-5.4px -2.7px var(--orange-accent),
		-5.6px -2.8px var(--orange-accent),
		-5.8px -2.9px var(--orange-accent),
		-6.0px -3.0px var(--orange-accent),
		-6.2px -3.1px var(--orange-accent),
		-6.4px -3.2px var(--orange-accent),
		-6.6px -3.3px var(--orange-accent),
		-6.8px -3.4px var(--orange-accent),
		-7.0px -3.5px var(--orange-accent),
		-7.2px -3.6px var(--orange-accent),
		-7.4px -3.7px var(--orange-accent),
		-7.6px -3.8px var(--orange-accent),
		-7.8px -3.9px var(--orange-accent),
		-8.0px -4.0px var(--orange-accent),
		-8.2px -4.1px var(--orange-accent),
		-8.4px -4.2px var(--orange-accent),
		-8.6px -4.3px var(--orange-accent),
		-8.8px -4.4px var(--orange-accent),
		-9.0px -4.5px var(--orange-accent);


	font-size: var(--l);
	line-height: 110%;
}

.content h4 {
	border: none;
	color: var(--yellow-accent);
	font-family: PixelOperator;
	text-align: center;
	text-shadow:
		-0.0px -0.0px var(--orange-accent),
		-0.2px -0.1px var(--orange-accent),
		-0.4px -0.2px var(--orange-accent),
		-0.6px -0.3px var(--orange-accent),
		-0.8px -0.4px var(--orange-accent),
		-1.0px -0.5px var(--orange-accent),
		-1.2px -0.6px var(--orange-accent),
		-1.4px -0.7px var(--orange-accent),
		-1.6px -0.8px var(--orange-accent),
		-1.8px -0.9px var(--orange-accent),
		-2.0px -1.0px var(--orange-accent),
		-2.2px -1.1px var(--orange-accent),
		-2.4px -1.2px var(--orange-accent),
		-2.6px -1.3px var(--orange-accent),
		-2.8px -1.4px var(--orange-accent),
		-3.0px -1.5px var(--orange-accent),
		-3.2px -1.6px var(--orange-accent),
		-3.4px -1.7px var(--orange-accent),
		-3.6px -1.8px var(--orange-accent),
		-3.8px -1.9px var(--orange-accent),
		-4.0px -2.0px var(--orange-accent),
		-4.2px -2.1px var(--orange-accent),
		-4.4px -2.2px var(--orange-accent),
		-4.6px -2.3px var(--orange-accent),
		-4.8px -2.4px var(--orange-accent),
		-5.0px -2.5px var(--orange-accent),
		-5.2px -2.6px var(--orange-accent),
		-5.4px -2.7px var(--orange-accent),
		-5.6px -2.8px var(--orange-accent),
		-5.8px -2.9px var(--orange-accent),
		-6.0px -3.0px var(--orange-accent),
		-6.2px -3.1px var(--orange-accent),
		-6.4px -3.2px var(--orange-accent),
		-6.6px -3.3px var(--orange-accent),
		-6.8px -3.4px var(--orange-accent),
		-7.0px -3.5px var(--orange-accent),
		-7.2px -3.6px var(--orange-accent),
		-7.4px -3.7px var(--orange-accent),
		-7.6px -3.8px var(--orange-accent),
		-7.8px -3.9px var(--orange-accent),
		-8.0px -4.0px var(--orange-accent),
		-8.2px -4.1px var(--orange-accent),
		-8.4px -4.2px var(--orange-accent),
		-8.6px -4.3px var(--orange-accent),
		-8.8px -4.4px var(--orange-accent),
		-9.0px -4.5px var(--orange-accent);


	font-size: var(--m);
	line-height: 100%;
}