@font-face {
	font-family: PixelOperator;
	src: url(./assets/fonts/pixel_operator/PixelOperator.ttf);
}

:root {
	font-size: 100%;
	font-family: PixelOperator;
	font-weight: 50;
	background-color: var(--white);

	/* Sizing */
	--xxl: 6rem;
	--xl: 5rem;
	--l: 4rem;
	--m: 3rem;
	--s: 2rem;
	--xs: 1.6rem;
	--regular: 1rem;

	/* Spacing */
	--space-xs: 0.4rem;
	--space-s: 0.8rem;
	--space-sm: 1.2rem;
	--space-m: 1.6rem;
	--space-ml: 2.0rem;
	--space-l: 2.4rem;
	--space-xl: 3.2rem;

	/* Light theme */
	--white: #fff8ea;
	--black: #372a25;
	--blue-deep: #0E4A4B;
	--blue-light: #93EAEB;

	--deep-red: #bc3908;
	--orange-accent: #a74500;
	--yellow-accent: #f8ca53;

	--disabled: #f0ebe9;
	--coffee: #835441;
	--watered-down-coffee: #d5b6aa;
}

.card {
	margin: var(--space-l);
	width: auto;
	display: grid;
	grid-template-columns: auto;
	gap: var(--space-m);
	overflow: hidden;
}

.block {
	box-sizing: border-box;
	display: grid;
	gap: var(--space-s);
	grid-template-columns: subgrid;
	padding: var(--space-xs);
	width: 100%;
}

.block-two-col {
	box-sizing: border-box;
	display: grid;
	gap: var(--space-s);
	grid-template-columns: 0.5fr 1fr;
	padding: var(--space-xs);
	width: 100%;
}

.form {
	background: repeating-linear-gradient(180deg, #131254, #0f88fa, #64e6e8, #d1ffda);
	box-sizing: border-box;
	display: grid;
	gap: var(--space-m);
	grid-template-columns: subgrid;
	padding: var(--space-m);
	width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-family: PixelOperator;
}

p,
span {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px var(--space-s);
	font-size: var(--regular);
	line-height: var(--space-sm);
	font-family: PixelOperator;
}

ul {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-size: var(--regular);
	line-height: var(--space-sm);
	list-style: disc;
}

li {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px var(--space-s);
}

.blockcode {
	border: var(--coffee) 1px solid;
	padding: var(--space-s);
}

.form-background {
	background-color: var(--white);
	padding: var(--space-ml);
	margin: var(--space-ml);
	border-radius: 15px;
}

.form-group {
	position: relative;
}

.form-group>label {
	border-radius: 10px;
	box-sizing: border-box;
	font-size: var(--regular);
	height: fit-content;
	padding: 0px var(--space-xs) 0px var(--space-xs);
	position: absolute;
	right: 40px;
	text-align: center;
	top: 13px;
	width: 12%;
}

.form-group>input:focus {
	outline: none;
}

.form-group>input {
	border: none;
	box-sizing: border-box;
	border-radius: 10px;
	height: var(--m);
	font-family: PixelOperator;
	padding-left: var(--regular);
	font-size: var(--regular);
	width: 100%;
}

.input-inactive,
.label-inactive {
	background-color: var(--white);
	box-shadow: var(--watered-down-coffee) 0px 1px 3px, var(--coffee) 0px 1px 2px;
	color: var(--watered-down-coffee);
}

.input-active,
.input-focus,
.label-active,
.label-focus {
	background-color: var(--white);
	color: var(--coffee);
	box-shadow: var(--watered-down-coffee) 0px 1px 3px inset, var(--coffee) 0px 1px 2px inset;
}

.input-disabled,
.label-disabled {
	box-sizing: border-box;
	background-color: #f0ebe9;
	box-shadow: #d5c5bf 0px 2px 5px inset, #d5c5bf 0px 2px 5px inset;
	color: var(--watered-down-coffee);
}

.input-error,
.label-error {
	background-color: var(--white);
	box-shadow: var(--orange-accent) 0px 1px 3px inset, var(--deep-red) 0px 1px 2px inset;
	color: var(--deep-red);
}

input[type=button],
input[type=submit] {
	box-sizing: border-box;
	border-radius: 5px;
	font-family: PixelOperator;
	color: var(--coffee);
	font-size: var(--s);
	height: var(--m);
}

.button-default {
	border: none;
	border-bottom: #b6652b solid 1px;
	border-right: #b6652b solid 1px;
	background-color: var(--white);
	box-shadow:
		0.2px 0.2px var(--yellow-accent),
		0.4px 0.4px var(--yellow-accent),
		0.6px 0.6px var(--yellow-accent),
		0.8px 0.8px var(--yellow-accent),
		1.0px 1.0px var(--yellow-accent),
		1.2px 1.2px var(--yellow-accent),
		1.4px 1.4px var(--yellow-accent),
		1.6px 1.6px var(--yellow-accent),
		1.8px 1.8px var(--yellow-accent),
		2.0px 2.0px var(--yellow-accent),
		2.2px 2.2px var(--yellow-accent),
		2.4px 2.4px var(--yellow-accent),
		2.6px 2.6px var(--yellow-accent),
		2.8px 2.8px var(--yellow-accent),
		3.0px 3.0px var(--yellow-accent),
		3.2px 3.2px var(--yellow-accent),
		3.4px 3.4px var(--yellow-accent),
		3.6px 3.6px var(--yellow-accent),
		3.8px 3.8px var(--yellow-accent),
		4.0px 4.0px var(--yellow-accent),
		4.2px 4.2px var(--orange-accent),
		4.4px 4.4px var(--orange-accent),
		4.6px 4.6px var(--orange-accent),
		4.8px 4.8px var(--orange-accent),
		5.0px 5.0px var(--orange-accent),
		5.2px 5.2px var(--orange-accent),
		5.4px 5.4px var(--orange-accent),
		5.6px 5.6px var(--orange-accent),
		5.8px 5.8px var(--orange-accent),
		6.0px 6.0px var(--orange-accent),
		6.2px 6.2px var(--orange-accent),
		6.4px 6.4px var(--orange-accent),
		6.6px 6.6px var(--orange-accent),
		6.8px 6.8px var(--orange-accent),
		7.0px 7.0px var(--orange-accent);
}

.button-hover,
.button-default:hover {
	border: none;
	border-bottom: #b6652b solid 1px;
	border-right: #b6652b solid 1px;
	background-color: var(--white);
	transition: box-shadow 
		0.2px 0.2px var(--yellow-accent),
		0.4px 0.4px var(--yellow-accent),
		0.6px 0.6px var(--yellow-accent),
		0.8px 0.8px var(--yellow-accent),
		1.0px 1.0px var(--yellow-accent),
		1.2px 1.2px var(--yellow-accent),
		1.4px 1.4px var(--yellow-accent),
		1.6px 1.6px var(--yellow-accent),
		1.8px 1.8px var(--yellow-accent),
		2.0px 2.0px var(--yellow-accent),
		2.2px 2.2px var(--yellow-accent),
		2.4px 2.4px var(--yellow-accent),
		2.6px 2.6px var(--yellow-accent),
		2.8px 2.8px var(--yellow-accent),
		3.0px 3.0px var(--yellow-accent),
		3.2px 3.2px var(--yellow-accent),
		3.4px 3.4px var(--yellow-accent),
		3.6px 3.6px var(--yellow-accent),
		3.8px 3.8px var(--yellow-accent),
		4.0px 4.0px var(--yellow-accent),
		4.2px 4.2px var(--yellow-accent),
		4.4px 4.4px var(--yellow-accent),
		4.6px 4.6px var(--yellow-accent),
		4.8px 4.8px var(--yellow-accent),
		5.0px 5.0px var(--yellow-accent),
		5.2px 5.2px var(--yellow-accent),
		5.4px 5.4px var(--yellow-accent),
		5.6px 5.6px var(--yellow-accent),
		5.8px 5.8px var(--yellow-accent),
		6.0px 6.0px var(--yellow-accent),
		6.2px 6.2px var(--yellow-accent),
		6.4px 6.4px var(--yellow-accent),
		6.6px 6.6px var(--yellow-accent),
		6.8px 6.8px var(--yellow-accent),
		7.0px 7.0px var(--yellow-accent), 5s;
}

.button-active,
.button-default:active {
	border: none;
	border-bottom: #b6652b solid 1px;
	border-right: #b6652b solid 1px;
	background-color: var(--white);
}

.button-disabled {
	box-shadow: 4px 4px 0px var(--watered-down-coffee) inset;
	outline: var(--coffee) solid 1px;
	border: none;
	background-color: var(--disabled);
}

.body-background {
	margin-left: var(--space-m);
	height: var(--xxl);
	width: auto;
}

.swatch {
	position: relative;
	margin-left: var(--space-m);
	height: var(--space-ml);
	width: auto;
	box-shadow: 3x 3px var(--watered-down-coffee);
}

.swatch>p {
	position: absolute;
	top: 18%;
	background-color: #ffffff00;
	margin-left: var(--space-xs);
}

.title-1 {
	background: repeating-linear-gradient(180deg, rgb(45, 41, 125) 0%, rgba(9, 78, 121, 1) 50%, rgba(0, 212, 255, 1) 100%);
	color: var(--yellow-accent);
	font-family: PixelOperator;
	text-align: center;
	text-shadow:
		-0.0px -0.0px var(--orange-accent),
		-0.2px -0.1px var(--orange-accent),
		-0.4px -0.2px var(--orange-accent),
		-0.6px -0.3px var(--orange-accent),
		-0.8px -0.4px var(--orange-accent),
		-1.0px -0.5px var(--orange-accent),
		-1.2px -0.6px var(--orange-accent),
		-1.4px -0.7px var(--orange-accent),
		-1.6px -0.8px var(--orange-accent),
		-1.8px -0.9px var(--orange-accent),
		-2.0px -1.0px var(--orange-accent),
		-2.2px -1.1px var(--orange-accent),
		-2.4px -1.2px var(--orange-accent),
		-2.6px -1.3px var(--orange-accent),
		-2.8px -1.4px var(--orange-accent),
		-3.0px -1.5px var(--orange-accent),
		-3.2px -1.6px var(--orange-accent),
		-3.4px -1.7px var(--orange-accent),
		-3.6px -1.8px var(--orange-accent),
		-3.8px -1.9px var(--orange-accent),
		-4.0px -2.0px var(--orange-accent),
		-4.2px -2.1px var(--orange-accent),
		-4.4px -2.2px var(--orange-accent),
		-4.6px -2.3px var(--orange-accent),
		-4.8px -2.4px var(--orange-accent),
		-5.0px -2.5px var(--orange-accent),
		-5.2px -2.6px var(--orange-accent),
		-5.4px -2.7px var(--orange-accent),
		-5.6px -2.8px var(--orange-accent),
		-5.8px -2.9px var(--orange-accent),
		-6.0px -3.0px var(--orange-accent),
		-6.2px -3.1px var(--orange-accent),
		-6.4px -3.2px var(--orange-accent),
		-6.6px -3.3px var(--orange-accent),
		-6.8px -3.4px var(--orange-accent),
		-7.0px -3.5px var(--orange-accent),
		-7.2px -3.6px var(--orange-accent),
		-7.4px -3.7px var(--orange-accent),
		-7.6px -3.8px var(--orange-accent),
		-7.8px -3.9px var(--orange-accent),
		-8.0px -4.0px var(--orange-accent),
		-8.2px -4.1px var(--orange-accent),
		-8.4px -4.2px var(--orange-accent),
		-8.6px -4.3px var(--orange-accent),
		-8.8px -4.4px var(--orange-accent),
		-9.0px -4.5px var(--orange-accent);

	font-size: var(--xxl);
	line-height: 130%;
}

.title-2 {
	background: repeating-linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(9, 78, 121, 1) 50%, rgba(0, 212, 255, 1) 100%);
	color: var(--yellow-accent);
	font-family: PixelOperator;
	text-align: center;
	text-shadow:
		-0.0px -0.0px var(--orange-accent),
		-0.2px -0.1px var(--orange-accent),
		-0.4px -0.2px var(--orange-accent),
		-0.6px -0.3px var(--orange-accent),
		-0.8px -0.4px var(--orange-accent),
		-1.0px -0.5px var(--orange-accent),
		-1.2px -0.6px var(--orange-accent),
		-1.4px -0.7px var(--orange-accent),
		-1.6px -0.8px var(--orange-accent),
		-1.8px -0.9px var(--orange-accent),
		-2.0px -1.0px var(--orange-accent),
		-2.2px -1.1px var(--orange-accent),
		-2.4px -1.2px var(--orange-accent),
		-2.6px -1.3px var(--orange-accent),
		-2.8px -1.4px var(--orange-accent),
		-3.0px -1.5px var(--orange-accent),
		-3.2px -1.6px var(--orange-accent),
		-3.4px -1.7px var(--orange-accent),
		-3.6px -1.8px var(--orange-accent),
		-3.8px -1.9px var(--orange-accent),
		-4.0px -2.0px var(--orange-accent),
		-4.2px -2.1px var(--orange-accent),
		-4.4px -2.2px var(--orange-accent),
		-4.6px -2.3px var(--orange-accent),
		-4.8px -2.4px var(--orange-accent),
		-5.0px -2.5px var(--orange-accent),
		-5.2px -2.6px var(--orange-accent),
		-5.4px -2.7px var(--orange-accent),
		-5.6px -2.8px var(--orange-accent),
		-5.8px -2.9px var(--orange-accent),
		-6.0px -3.0px var(--orange-accent),
		-6.2px -3.1px var(--orange-accent),
		-6.4px -3.2px var(--orange-accent),
		-6.6px -3.3px var(--orange-accent),
		-6.8px -3.4px var(--orange-accent),
		-7.0px -3.5px var(--orange-accent),
		-7.2px -3.6px var(--orange-accent),
		-7.4px -3.7px var(--orange-accent),
		-7.6px -3.8px var(--orange-accent),
		-7.8px -3.9px var(--orange-accent),
		-8.0px -4.0px var(--orange-accent),
		-8.2px -4.1px var(--orange-accent),
		-8.4px -4.2px var(--orange-accent),
		-8.6px -4.3px var(--orange-accent),
		-8.8px -4.4px var(--orange-accent),
		-9.0px -4.5px var(--orange-accent);

	font-size: var(--xl);
	line-height: 110%;
}

.title-3 {
	background: repeating-linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(9, 78, 121, 1) 50%, rgba(0, 212, 255, 1) 100%);
	color: var(--yellow-accent);
	font-family: PixelOperator;
	text-align: center;
	text-shadow:
		-0.0px -0.0px var(--orange-accent),
		-0.2px -0.1px var(--orange-accent),
		-0.4px -0.2px var(--orange-accent),
		-0.6px -0.3px var(--orange-accent),
		-0.8px -0.4px var(--orange-accent),
		-1.0px -0.5px var(--orange-accent),
		-1.2px -0.6px var(--orange-accent),
		-1.4px -0.7px var(--orange-accent),
		-1.6px -0.8px var(--orange-accent),
		-1.8px -0.9px var(--orange-accent),
		-2.0px -1.0px var(--orange-accent),
		-2.2px -1.1px var(--orange-accent),
		-2.4px -1.2px var(--orange-accent),
		-2.6px -1.3px var(--orange-accent),
		-2.8px -1.4px var(--orange-accent),
		-3.0px -1.5px var(--orange-accent),
		-3.2px -1.6px var(--orange-accent),
		-3.4px -1.7px var(--orange-accent),
		-3.6px -1.8px var(--orange-accent),
		-3.8px -1.9px var(--orange-accent),
		-4.0px -2.0px var(--orange-accent),
		-4.2px -2.1px var(--orange-accent),
		-4.4px -2.2px var(--orange-accent),
		-4.6px -2.3px var(--orange-accent),
		-4.8px -2.4px var(--orange-accent),
		-5.0px -2.5px var(--orange-accent),
		-5.2px -2.6px var(--orange-accent),
		-5.4px -2.7px var(--orange-accent),
		-5.6px -2.8px var(--orange-accent),
		-5.8px -2.9px var(--orange-accent),
		-6.0px -3.0px var(--orange-accent),
		-6.2px -3.1px var(--orange-accent),
		-6.4px -3.2px var(--orange-accent),
		-6.6px -3.3px var(--orange-accent),
		-6.8px -3.4px var(--orange-accent),
		-7.0px -3.5px var(--orange-accent),
		-7.2px -3.6px var(--orange-accent),
		-7.4px -3.7px var(--orange-accent),
		-7.6px -3.8px var(--orange-accent),
		-7.8px -3.9px var(--orange-accent),
		-8.0px -4.0px var(--orange-accent),
		-8.2px -4.1px var(--orange-accent),
		-8.4px -4.2px var(--orange-accent),
		-8.6px -4.3px var(--orange-accent),
		-8.8px -4.4px var(--orange-accent),
		-9.0px -4.5px var(--orange-accent);

	font-size: var(--l);
	line-height: 110%;
}

.title-4 {
	background: repeating-linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(9, 78, 121, 1) 50%, rgba(0, 212, 255, 1) 100%);
	color: var(--yellow-accent);
	text-align: center;
	text-shadow:
		-0.0px -0.0px var(--orange-accent),
		-0.2px -0.1px var(--orange-accent),
		-0.4px -0.2px var(--orange-accent),
		-0.6px -0.3px var(--orange-accent),
		-0.8px -0.4px var(--orange-accent),
		-1.0px -0.5px var(--orange-accent),
		-1.2px -0.6px var(--orange-accent),
		-1.4px -0.7px var(--orange-accent),
		-1.6px -0.8px var(--orange-accent),
		-1.8px -0.9px var(--orange-accent),
		-2.0px -1.0px var(--orange-accent),
		-2.2px -1.1px var(--orange-accent),
		-2.4px -1.2px var(--orange-accent),
		-2.6px -1.3px var(--orange-accent),
		-2.8px -1.4px var(--orange-accent),
		-3.0px -1.5px var(--orange-accent),
		-3.2px -1.6px var(--orange-accent),
		-3.4px -1.7px var(--orange-accent),
		-3.6px -1.8px var(--orange-accent),
		-3.8px -1.9px var(--orange-accent),
		-4.0px -2.0px var(--orange-accent),
		-4.2px -2.1px var(--orange-accent),
		-4.4px -2.2px var(--orange-accent),
		-4.6px -2.3px var(--orange-accent),
		-4.8px -2.4px var(--orange-accent),
		-5.0px -2.5px var(--orange-accent),
		-5.2px -2.6px var(--orange-accent),
		-5.4px -2.7px var(--orange-accent),
		-5.6px -2.8px var(--orange-accent),
		-5.8px -2.9px var(--orange-accent),
		-6.0px -3.0px var(--orange-accent),
		-6.2px -3.1px var(--orange-accent),
		-6.4px -3.2px var(--orange-accent),
		-6.6px -3.3px var(--orange-accent),
		-6.8px -3.4px var(--orange-accent),
		-7.0px -3.5px var(--orange-accent),
		-7.2px -3.6px var(--orange-accent),
		-7.4px -3.7px var(--orange-accent),
		-7.6px -3.8px var(--orange-accent),
		-7.8px -3.9px var(--orange-accent),
		-8.0px -4.0px var(--orange-accent),
		-8.2px -4.1px var(--orange-accent),
		-8.4px -4.2px var(--orange-accent),
		-8.6px -4.3px var(--orange-accent),
		-8.8px -4.4px var(--orange-accent),
		-9.0px -4.5px var(--orange-accent);


	font-size: var(--m);
	line-height: 100%;
}

a {
	line-height: 140%;
	font-size: var(--regular);
}

.a-default {
	width: fit-content;
	background-color: var(--yellow-accent);
	color: var(--coffee);
	text-decoration: none;
}

.a-hover,
.a-focus,
.a-default:hover,
.a-default:active,
.a-default:focus {
	color: var(--orange-accent);
	text-decoration: underline wavy;
}

.a-visit {
	color: #0497c2;
	background-color: var(--white);
	text-decoration: underline;
}