@import url(./atoms.css);

body {
	margin: var(--body-margin);
}

.four-col-layout {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	gap: var(--space-sm);
}

.single-col {
	margin: var(--space-xs);
	background-color: white;
	box-sizing: border-box;
	flex: 1 1 0;
	width: var(--single-col);
	height: var(--space-m);
}