@import "tailwindcss";
@import "./design-elements/css/animations.css";
@import "./design-elements/css/background.css";

@font-face {
	font-family: PixelOperator;
	src: url(/fonts/PixelOperator.woff) format("woff");
	/* src: url(../public/fonts/PixelOperator.woff); */
}

@font-face {
	font-family: PixelOperatorBold;
	src: url(/fonts/PixelOperator-Bold.woff) format("woff");
	/* src: url(../public/fonts/PixelOperator-Bold.woff); */
}

@layer theme {
	:root {
		--image-xl: 10.29rem;
		--image-xxl: 16.65rem;
		--image-cont-xl: 11.29rem;
		--image-cont-xxl: 17.65rem;

		--image-size: 2.43rem;
		--image-cont-size: 3.43rem;

		/* Golden ratio spacing */
		--nspace-xs: -0.5rem;
		--nspace-s: -0.81rem;
		--nspace-sm: -1.31rem;
		--nspace-m: -2.12rem;

		--space-xxs: 0.25rem;
		--space-xs: 0.5rem;
		--space-s: 0.81rem;
		--space-sm: 1.31rem;
		--space-m: 2.12rem;
		--space-ml: 3.43rem;
		--space-l: 5.55rem;
		--space-xl: 8.98rem;

		/* Font sizing */
		--regular: 1rem;
		--s: 1.62rem;
		--sm: 1.84rem;
		--m: 2.62rem;
		--ml: 4.24rem;
		--l: 6.86rem;
		--xl: 11.1rem;

		/* Elements sizes */
		--percent-sidebar: 38.06%;
		--percent-content: 61.94%;

		--sidebar: 33.42rem;
		--content: 54.08em;

		--ui-doc-full-width: 74.91vw;

		--full-height-wheader: 92.5vh;
		--full-height: 100vh;
		--full-width: 100vw;
		--min-width: 600px;
		--min-height: 800px;

		--border-w: 4px;
		--inner-border-w: 2px;
		--n-border-w: -4px;
		--n-inner-border-w: -2px;

		/* Palette */
		--white: #fffcf7;
		--black: #372a25;
		--gradient1: #131254;
		--gradient2: #0f88fa;
		--gradient3: #64e6e8;
		--gradient4: #d1ffda;

		--transparent-blue: #64e6e834;

		--border: #773d16;
		--highlight: #FFE6A4;
		--shadow: #966c00;

		--highlight-orange: #ee881c;
		--shadow-orange: #9a4a0d;

		--disabled: #cfb6a5;
		--green: #76c54b;
		--orange: #bc6511;
		--red: #aa4926;
		--yellow: #ffb800;

		--shadow-2: #8f5f3f;
		--title-shadow: #ac5a0e;
	}

	.true {
		--user-status: #76c54b;
	}

	.false {
		--user-status: #aa4926;
	}

	.valid {
		--border: #005a44;
		--highlight: #bde559;
		--shadow: #04983a;
	}

	.yellow-border {
		--border: #ffb800;
	}

	.invalid {
		--border: #6b1d00;
		--highlight: #f9865c;
		--shadow: #9a3e1c;
		color: var(--red);
	}

	.disabled {
		--border: #83756b;
		--highlight: transparent;
		--shadow: transparent;
	}

	.button {
		--highlight: #ffe6a4;
		--shadow: #966c00;
	}

	.bg {
		--border: #f7e8c4;
	}

	.iicon {
		--image-size: 16px;
		--image-cont-size: 24px;
	}

	.ismall {
		--image-size: 1.5rem;
		--image-cont-size: 2.5rem;
	}

	.imedium {
		--image-size: 2.43rem;
		--image-cont-size: 3.43rem;
	}

	.ilarge {
		--image-size: 6.36rem;
		--image-cont-size: 7.36rem;
	}

	.thin {
		--border-w: 2px;
		--inner-border-w: 1px;
		--n-border-w: -2px;
		--n-inner-border-w: -1px;
	}
}

@layer base {
	.t1 {
		font-size: calc(5.85vw + 1em);
	}

	.t2 {
		font-size: calc(3.63vw + 1em);
	}

	.t3 {
		font-size: calc(2.24vw + 1em);
	}

	html {
		font-family: PixelOperator;
		font-size: var(--regular);
	}

	body {
		margin: 0;
		height: auto;
		background: linear-gradient(180deg,
				var(--gradient1) 0%,
				var(--gradient2),
				var(--gradient3),
				var(--gradient4) 100%);
		background-repeat: no-repeat;
	}

	p,
	span {
		margin: 0;
		padding: 0;
		color: var(--black);
	}

	a {
		line-height: 100%;
		text-decoration: none;
	}

	a:hover,
	a:active,
	a:focus {
		text-decoration: none;
		background: linear-gradient(to left, transparent 50%, var(--gradient4) 50%);
		background-size: 200% 100%;
		background-position: 100% 0;
		animation: a-grow 0.2s 1 linear forwards;
	}

	input {
		box-sizing: border-box;
		width: 100%;
		height: 90%;
		outline: none;
		background: linear-gradient(180deg,
				#ffdc99 0 10%,
				#ffe0a5 0 20%,
				#ffe4b0 0 30%,
				#ffe8bb 0 40%,
				#ffecc6 0 50%,
				#ffecc6 0 60%,
				#ffe8bb 0 70%,
				#ffe4b0 0 80%,
				#ffe0a5 0 90%,
				#ffdc99 0 100%);
	}

	input[type="radio"],
	input[type="checkbox"] {
		height: 100%;
		opacity: 0%;
	}

	input[type="text"],
	input[type="password"] {
		padding: var(--space-xs);
	}

	input#search {
		padding: var(--space-xs) var(--space-xs) var(--space-xs) var(--space-m);
	}

	input#upload {
		padding: var(--space-xs) var(--space-xs) var(--space-xs) var(--space-l);
	}

	input[type="text"]:invalid,
	input[type="password"]:invalid textarea:invalid {
		background: linear-gradient(180deg,
				#ce633b 0 10%,
				#d3673f 0 20%,
				#d96b42 0 30%,
				#de6e45 0 40%,
				#e37248 0 50%,
				#e37248 0 60%,
				#de6e45 0 70%,
				#d96b42 0 80%,
				#d3673f 0 90%,
				#ce633b 0 100%);
		color: white;
	}

	input:hover,
	input:active,
	input:focus,
	input:focus-visible,
	textarea:hover,
	textarea:active,
	textarea:focus,
	textarea:focus-visible {
		/* outline: 2px var(--yellow) solid; */
		outline: none;
		border: none;
	}

	input[type="radio"] {
		padding: 0;
		margin: 0;
	}

	input[type="range"] {
		height: 18.5px;
	}

	input[type="range"]::-moz-range-thumb {
		box-sizing: border-box;
		cursor: pointer;
		outline: none;
		border: none;
		border-radius: 0;
		width: var(--space-s);
		height: var(--sm);
		background-color: var(--orange);
		border-top: 2px solid var(--highlight-orange);
		border-bottom: 2px solid var(--shadow-orange);
		box-shadow: -2px 0 0 0 var(--border), 2px 0 0 0 var(--border),
			0 -2px 0 0 var(--border), 0 2px 0 0 var(--border);
	}

	input::file-selector-button {
		cursor: pointer;
		border-top: 2px solid var(--highlight);
		border-bottom: 2px solid var(--shadow);
		box-shadow: -2px 0 0 0 var(--border), 2px 0 0 0 var(--border),
			0 -2px 0 0 var(--border), 0 2px 0 0 var(--border);
		background: linear-gradient(180deg,
				#f4b000 0 10%,
				#f7b200 0 20%,
				#fab400 0 30%,
				#fcb600 0 40%,
				#ffb800 0 50%,
				#ffb800 0 60%,
				#fcb600 0 70%,
				#fab400 0 80%,
				#f7b200 0 90%,
				#f4b000 0 100%);
	}

	button {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	button:hover>span,
	button:focus-visible>span {
		display: inline-block;
		transform-origin: bottom center;
		animation: dance 1.2s ease-in-out infinite;
		cursor: pointer;
	}

	button:active {
		cursor: pointer;
		transform: scale(1);
	}

	button:disabled {
		transform: none;
		cursor: not-allowed;
		color: var(--disabled);
	}
}

@layer components {}

@layer utilities {
	.row-l {
		grid-auto-rows: var(--l);
	}

	.row-m {
		grid-auto-rows: var(--m);
	}

	.row-s {
		grid-auto-rows: var(--s);
	}

	.f-yellow {
		color: var(--yellow);
	}

	.f-orange {
		color: var(--shadow-orange);
	}

	.f-brown {
		color: var(--border);
	}

	.f-bold {
		font-family: PixelOperatorBold;
	}

	.f-regular {
		font-size: var(--regular);
	}

	.f-s {
		font-size: var(--s);
	}

	.f-m {
		font-size: var(--m);
	}

	.f-l {
		font-size: var(--l);
	}

	.w-xs {
		width: var(--space-xs);
	}

	.h-xs {
		height: var(--space-xs);
	}

	.w-sidebar {
		width: var(--sidebar);
	}

	.w-s {
		width: var(--s);
	}

	.h-s {
		height: var(--s);
	}

	.w-m {
		width: var(--m);
	}

	.h-m {
		height: var(--m);
	}

	.w-l {
		width: var(--l);
	}

	.h-l {
		height: var(--l);
	}

	.gap-xs {
		gap: var(--space-xs) var(--space-xs);
	}

	.gap-s {
		gap: var(--space-s) var(--space-s);
	}

	.gap-sm {
		gap: var(--space-sm) var(--space-sm);
	}

	.gap-m {
		gap: var(--space-m) var(--space-m);
	}

	.gap-l {
		gap: var(--space-l) var(--space-l);
	}

	.search-gap {
		gap: 0 var(--space-s);
	}

	.pad-xs {
		padding: var(--space-xs);
	}

	.pad-s {
		padding: var(--space-s);
	}

	.pad-sm {
		padding: var(--space-sm);
	}

	.isize {
		width: var(--image-size);
		height: var(--image-size);
	}

	.notification-interactive {
		display: none;
		position: fixed;
	}

	.notification-interactive[selected] {
		display: block;
	}

	.small-user-grid {
		height: var(--xl);
		max-width: 11.2rem;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr var(--m);
		background-color: var(--transparent-blue);
	}

	.username {
		grid-template-columns: auto 10%;
		justify-content: left;
		justify-items: center;
		align-items: center;
		width: fit-content;
	}

	.tiny-shadow {
		text-shadow: -1px -1px var(--orange), -2px -1px var(--orange);
	}

	.button-shadow {
		text-shadow: 1px 1px var(--highlight), 2px 1px var(--highlight);
	}

	.username:hover a {
		text-decoration: underline;
		background: transparent;
	}

	.user-status {
		height: var(--space-s);
		width: var(--space-s);
		background-color: var(--user-status);
		border-radius: 30px;
		line-height: 110%;
	}

	.masonery {
		height: auto;
		display: grid;
		grid-auto-flow: column;
		grid-template-columns: repeat(auto-fit, minmax(11.2rem, max-content));
		grid-auto-rows: max-content;
		gap: var(--space-xs) var(--space-xs);
	}

	.biography {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 6;
		line-clamp: 6;
		overflow: hidden;
		text-overflow: ellipsis;
		padding: var(--space-xxs);
	}

	.title-shadow {
		text-shadow: -0px -0px var(--title-shadow),
			-0.2px -0.1px var(--title-shadow), -0.4px -0.2px var(--title-shadow),
			-0.6px -0.4px var(--title-shadow), -0.8px -0.4px var(--title-shadow),
			-1px -0.5px var(--title-shadow), -1.2px -0.6px var(--title-shadow),
			-1.4px -0.7px var(--title-shadow), -1.6px -0.8px var(--title-shadow),
			-1.8px -0.9px var(--title-shadow), -2px -1px var(--title-shadow),
			-2.2px -1.1px var(--title-shadow), -2.4px -1.2px var(--title-shadow),
			-2.6px -1.3px var(--title-shadow), -2.8px -1.4px var(--title-shadow),
			-3px -1.5px var(--title-shadow), -3.2px -1.6px var(--title-shadow),
			-3.4px -1.7px var(--title-shadow), -3.6px -1.8px var(--title-shadow),
			-3.8px -1.9px var(--title-shadow), -4px -2px var(--title-shadow);
	}

	.avatar-wrapper {
		height: var(--image-cont-size);
		max-height: var(--image-cont-size);
		max-width: var(--image-cont-size);
		min-height: var(--image-cont-size);
		min-width: var(--image-cont-size);
		width: var(--image-cont-size);
	}

	.avatar-wrapper img {
		height: 100%;
		width: 100%;
	}

	.brdr {
		box-shadow: var(--n-inner-border-w) var(--n-inner-border-w) var(--border),
			var(--n-inner-border-w) var(--inner-border-w) var(--border),
			var(--inner-border-w) var(--n-inner-border-w) var(--border),
			var(--inner-border-w) var(--inner-border-w) var(--border),
			var(--n-border-w) 0 0 0 var(--border), var(--border-w) 0 0 0 var(--border),
			0 var(--n-border-w) 0 0 var(--border), 0 var(--border-w) 0 0 var(--border);
	}

	/* .searchbar-padding {
		padding: var(--space-xs) var(--space-s) var(--space-xs) var(--space-l);
	} */

	.input-emphasis {
		border-top: 2px solid var(--highlight);
		border-bottom: 2px solid var(--shadow);
	}

	.input-emphasis:hover {
		border-top: 2px solid var(--highlight);
		border-bottom: 2px solid var(--highlight);
	}

	.input-emphasis:active {
		border-top: 2px solid var(--shadow);
		border-bottom: 2px solid var(--shadow);
	}

	.orange-bg {
		background-color: var(--orange);
		border-top: 2px solid var(--highlight-orange);
		border-bottom: 2px solid var(--shadow-orange);
	}

	.small-user {
		height: var(--xl);
		box-sizing: border-box;
		padding: var(--space-s);
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr var(--m);
		place-items: center;
		background-color: var(--transparent-blue);
	}
}