@import url(./variables.css);

.icon {
  height: 32px;
  width: 32px;
}

.language {
  box-sizing: border-box;
  height: var(--m);
  width: var(--m);
  display: flex;
  place-items: center;
}

.language-options {
  font-family: PixelOperatorBold;
  width: var(--l);
  display: none;
}

.dropdown-item {
  line-height: 130%;
  padding: var(--space-s);
  box-sizing: border-box;
}

.tabs {
  align-items: center;
  box-sizing: border-box;
  display: grid;
  gap: 0 0;
  grid-auto-flow: column;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-rows: 1fr;
  justify-content: center;
  justify-items: center;
}

.tabs > button {
  height: 100%;
}

.tab {
  background-color: transparent;
}

.tab[selected].button-bg {
  background: #ffdc99;
  border: none;
  border-top: 2px solid var(--shadow-yellow);
}

.tab:hover {
  transform: none;
}

.horizontal-menu-wrapper {
  align-items: center;
  box-sizing: border-box;
  display: grid;
  gap: var(--space-s) var(--space-s);
  grid-auto-flow: column;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-rows: 1fr;
  justify-content: center;
  justify-items: center;
}

.vertical-menu-wrapper {
  align-items: center;
  box-sizing: border-box;
  display: grid;
  gap: var(--space-s) var(--space-s);
  grid-auto-columns: 1fr;
  grid-auto-rows: minmax(0, 1fr);
  justify-content: center;
  justify-items: center;
}

.menu-element {
  background-color: transparent;
  width: 10.27vw;
  min-width: 3.75rem;
  box-sizing: border-box;
}

.input-with-button {
  align-items: center;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
  gap: var(--space-s);
  width: 100%;
}

.input-with-button > span {
  padding: 0;
}

.search > input[type="text"] {
  padding: var(--space-xs) var(--space-s) var(--space-xs) var(--space-m);
}

.search-icon {
  height: var(--s);
  width: var(--s);
  position: absolute;
  top: 4px;
  left: 4px;
}

.search-result {
  min-width: fit-content;
  width: var(--sidebar);
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-s) var(--space-s);
}

.user-search-result {
  width: 100%;
  display: flex;
  align-items: flex-end;
  gap: var(--space-s);
}

.user-search-result > p {
  padding: var(--space-s);
  line-height: 1;
}

.fail-wrapper {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fail-wrapper > img {
  height: var(--image-xl);
  width: var(--image-xl);
}

.user-search-result > p > a {
  text-decoration: none;
}

.popup {
  display: grid;
  gap: var(--space-m);
  grid-template-columns: subgrid;
  align-items: center;
  justify-items: center;
}

.popup > .horizontal-menu-wrapper {
  width: var(--sidebar);
}

.popup > .title-and-paragraph > p {
  text-align: center;
}

.loader-container {
  min-width: fit-content;
  box-sizing: border-box;
  display: flex;
  flex-direction: wrap;
  justify-content: center;
  gap: var(--space-l);
  padding: var(--space-sm);
}

.notification-wrapper {
  position: relative;
  box-sizing: border-box;
  width: fit-content;
  display: flex;
  align-items: flex-start;
  gap: var(--space-sm);
}

.notification-content {
  margin-right: 20px;
  padding: var(--space-sm);
  width: fit-content;
  position: relative;
}

.notification-content > img {
  height: 32px;
  width: 16px;
  position: absolute;
  right: -20px;
  top: 8px;
}

.notification-icon-container {
  width: fit-content;
  position: relative;
  cursor: pointer;
}

.notification-icon-container > img {
  position: relative;
  z-index: 1;
}

.notification-icon-container:hover {
  position: relative;
  transform: scale(1.08);
}

.notification-interactive {
  display: none;
  width: fit-content;
  position: fixed;
}

.notification-interactive[selected] {
  display: block;
}

.unread-notification {
  display: none;
  position: absolute;
  top: 8px;
  right: 8px;
  box-sizing: border-box;
  background-color: var(--highlight-red);
  width: var(--space-xs);
  height: var(--space-xs);
  z-index: 2;
}

.unread-notification[selected] {
  display: block;
}

.unread-notification > span {
  color: var(--white);
  padding: 0;
  margin: 0;
}
