@import url(./layouts.css);
@import url(./background.css);
@import url(./borders.css);

@font-face {
  font-family: PixelOperator;
  src: url(../assets/fonts/pixel_operator/PixelOperator.ttf);
}

@font-face {
  font-family: PixelOperatorBold;
  src: url(../assets/fonts/pixel_operator/PixelOperator-Bold.ttf);
}

ul {
  margin: 0;
  padding: 0;
  font-size: var(--regular);
  line-height: var(--sm);
  color: var(--black);
}

li {
  margin: 0;
  padding: 0px 0px 0px var(--m);
  list-style: none;
}

.input-w-tooltip {
  position: relative;
  display: flex;
  gap: var(--s);
  align-items: center;
  z-index: 0;
}

.tooltip {
  position: relative;
  display: flex;
  gap: var(--s);
  align-items: center;
  position: relative;
  z-index: 1;
}

.tooltip-trigger {
  font-size: var(--m);
  color: var(--yellow);
  text-shadow: -0px -0px var(--title-shadow), -0.2px -0.1px var(--title-shadow),
    -0.4px -0.2px var(--title-shadow), -0.6px -0.4px var(--title-shadow),
    -0.8px -0.4px var(--title-shadow), -1px -0.5px var(--title-shadow),
    -1.2px -0.6px var(--title-shadow), -1.4px -0.7px var(--title-shadow),
    -1.6px -0.8px var(--title-shadow), -1.8px -0.9px var(--title-shadow),
    -2px -1px var(--title-shadow);
  cursor: pointer;
  z-index: 1;
}

.tooltip-body {
  padding: var(--s);
  position: absolute;
  top: -50%;
  left: 110%;
  display: none;
  z-index: 5;
  background-color: var(--white);
  min-width: 256px;
  width: 24vw;
}

.tooltip:hover .tooltip-body {
  display: block;
}

.error-message {
  padding: var(--s);
  color: var(--red);
}
