@import url(./variables.css);

body {
  margin: 0;
  height: auto;
  background: linear-gradient(
    180deg,
    var(--gradient1) 0%,
    var(--gradient2),
    var(--gradient3),
    var(--gradient4) 100%
  );
  background-repeat: no-repeat;
}

/* UI DOCUMENT DISPLAY */
.base-container {
  align-items: center;
  box-sizing: border-box;
  display: grid;
  gap: var(--s);
  grid-template-columns: var(--ui-doc-full-width);
  justify-content: center;
  max-width: 100%;
  min-width: var(--sidebar);
  width: 100%;
}

.input-grid {
  width: 100%;
  box-sizing: border-box;
  grid-template-columns: 1fr;
  grid-auto-rows: var(--m);
  grid-auto-columns: 100%;
  display: grid;
  gap: var(--s);
  align-items: center;
  justify-items: center;
}

/* DESIGN */

.header {
  box-sizing: border-box;
  width: 100%;
  height: var(--ml);
  display: grid;
  grid-template-columns: 5% 32.3% 48.87% 5% 5%;
  grid-template-rows: var(--ml);
  place-items: center;
  gap: var(--s);
}

.header-item {
  padding: var(--s);
}

.single-centered-no-header {
  box-sizing: border-box;
  display: grid;
  place-items: center;
  min-width: var(--min-width);
  min-height: var(--min-height);
  height: var(--full-height);
}

.single-centered {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: var(--full-width);
  grid-auto-rows: minmax(0, 1fr);
  place-items: center;
  min-height: var(--full-height-wheader);
  min-width: var(--min-width);
}

.pong-court {
  box-sizing: border-box;
  aspect-ratio: 19/9;
  width: 95%;
  min-width: var(--min-width);
}

.centered-block {
  min-width: var(--min-width);
  aspect-ratio: 16/9;
  width: 60%;
  display: flex;
  gap: var(--s);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.block {
  min-width: var(--min-width);
  box-sizing: border-box;
  padding: var(--m);
  display: grid;
  gap: var(--s);
  grid-template-columns: 1fr;
  height: 100%;
}

.centered-flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.two-col {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  display: grid;
  gap: var(--s) var(--s);
  grid-template-columns: 48.09% 1fr;
}

.two-col > p {
  margin: 0px;
  padding: 0px;
}

.flexbox-auto-col {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: var(--s) var(--s);
}

.flex-item {
  min-width: fit-content;
  align-items: center;
}

.flex-center {
  justify-content: center;
}

.display-inline {
  display: flex;
}

.centered-text {
  text-align: center;
}
