@import url(./atoms.css);

.palette-group {
	padding: var(--s);
}

.palette-row {
	display: flex;
	flex-wrap: wrap;
}

.swatch {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 110px;
	margin-bottom: 1rem;
}

.color-box {
	width: 60px;
	height: 60px;
	box-shadow: 0 1px 4px #0001;
	margin-bottom: 0.5rem;
}

.varname {
	font-size: 0.85em;
	color: #444;
	text-align: center;
}

.hexcode {
	font-size: 0.9em;
	color: #888;
}