{
	"tabWidth": 4,
	"useTabs": true,
	"singleQuote": true,
	"semi": true,
	"printWidth": 200,
	"objectWrap": "collapse",
	"trailingComma": "all",
	"bracketSpacing": true,
	"bracketSameLine": true,
	"arrowParens": "always"
}