@import url(./atoms.css);

.brdr {
	box-shadow:
		-2px -2px var(--neutral-border),
		-2px 2px var(--neutral-border),
		2px -2px var(--neutral-border),
		2px 2px var(--neutral-border),
		-4px 0 0 0 var(--neutral-border),
		4px 0 0 0 var(--neutral-border),
		0 -4px 0 0 var(--neutral-border),
		0 4px 0 0 var(--neutral-border);
}

.contrast-brdr {
	box-shadow:
		-2px -2px var(--shadow-orange),
		-2px 2px var(--shadow-orange),
		2px -2px var(--shadow-orange),
		2px 2px var(--shadow-orange),
		-4px 0 0 0 var(--shadow-orange),
		4px 0 0 0 var(--shadow-orange),
		0 -4px 0 0 var(--shadow-orange),
		0 4px 0 0 var(--shadow-orange);
}

.brdr-green {
	box-shadow:
		-2px -2px var(--border-green),
		-2px 2px var(--border-green),
		2px -2px var(--border-green),
		2px 2px var(--border-green),
		-4px 0 0 0 var(--border-green),
		4px 0 0 0 var(--border-green),
		0 -4px 0 0 var(--border-green),
		0 4px 0 0 var(--border-green);
}


.brdr-red {
	box-shadow:
		-2px -2px var(--border-red),
		-2px 2px var(--border-red),
		2px -2px var(--border-red),
		2px 2px var(--border-red),
		-4px 0 0 0 var(--border-red),
		4px 0 0 0 var(--border-red),
		0 -4px 0 0 var(--border-red),
		0 4px 0 0 var(--border-red);
}

.brdr-disabled {
	box-shadow:
		-2px -2px var(--shadow-2),
		-2px 2px var(--shadow-2),
		2px -2px var(--shadow-2),
		2px 2px var(--shadow-2),
		-4px 0 0 0 var(--shadow-2),
		4px 0 0 0 var(--shadow-2),
		0 -4px 0 0 var(--shadow-2),
		0 4px 0 0 var(--shadow-2);
}

.brdr-thin {
	box-shadow:
		-1px -1px var(--neutral-border),
		-1px 1px var(--neutral-border),
		1px -1px var(--neutral-border),
		1px 1px var(--neutral-border),
		-2px 0 0 0 var(--neutral-border),
		2px 0 0 0 var(--neutral-border),
		0 -2px 0 0 var(--neutral-border),
		0 2px 0 0 var(--neutral-border);
}

.bg-brdr {
	box-shadow:
		-2px -2px #F7E8C4,
		-2px 2px #F7E8C4,
		2px -2px #F7E8C4,
		2px 2px #F7E8C4,
		-4px 0 0 0 #F7E8C4,
		4px 0 0 0 #F7E8C4,
		0 -4px 0 0 #F7E8C4,
		0 4px 0 0 #F7E8C4;
}

.thin-border {
	box-shadow:
		-1px -1px var(--neutral-border),
		-1px 1px var(--neutral-border),
		1px -1px var(--neutral-border),
		1px 1px var(--neutral-border),
		-2px 0 0 0 var(--neutral-border),
		2px 0 0 0 var(--neutral-border),
		0 -2px 0 0 var(--neutral-border),
		0 2px 0 0 var(--neutral-border);
}