@import url(./variables.css);

body {
	margin: 0;
	height: auto;
	background: linear-gradient(180deg, var(--gradient1) 0%, var(--gradient2), var(--gradient3), var(--gradient4) 100%);
	background-repeat: no-repeat;
}

/* UI DOCUMENT DISPLAY */
.base-container {
	align-items: center;
	box-sizing: border-box;
	display: grid;
	gap: var(--space-s);
	grid-template-columns: var(--ui-doc-full-width);
	justify-content: center;
	max-width: 100%;
	min-width: var(--sidebar);
	width: 100%;
}

.input-grid {
	width: 100%;
	box-sizing: border-box;
	grid-template-columns: 1fr;
	grid-auto-rows: var(--m);
	grid-auto-columns: 100%;
	display: grid;
	gap: var(--space-s);
	align-items: center;
	justify-items: center;
}

/* DESIGN */

.header {
	box-sizing: border-box;
	width: 100%;
	height: var(--ml);
	display: grid;
	grid-template-columns: 15% 30% 45%;
	grid-template-rows: var(--ml);
	place-items: center;
	gap: var(--space-s);
}

.header-item {
	padding: var(--space-xs);
}

.single-centered-no-header {
	box-sizing: border-box;
	display: grid;
	grid-template-columns: var(--full-width);
	grid-template-rows: var(--full-height);
	place-items: center;
	width: var(--full-width);
}

.single-centered {
	box-sizing: border-box;
	display: grid;
	grid-template-columns: var(--full-width);
	grid-auto-rows: minmax(0, 1fr);
	place-items: center;
	min-height: var(--full-height-wheader);
}

.pong-court {
	box-sizing: border-box;
	aspect-ratio: 19/9;
	/* height: 90%; */
	width: 95%;
}

.centered-block {
	height: 80%;
	width: 80%;
}

.block {
	box-sizing: border-box;
	padding: var(--space-m);
	display: grid;
	gap: var(--space-xs);
	grid-template-columns: 1fr;
	height:100%

}

.centered-flexbox {
	display: flex;
	justify-content: center;
	align-items: center;
}

.two-col {
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	display: grid;
	gap: var(--space-s) var(--space-s);
	grid-template-columns: 48.09% 1fr;
}

.two-col>p {
	margin: 0px;
	padding: 0px;
}

.form-group {
	width: 100%;
	box-sizing: border-box;
	position: relative;
}

.flexbox-auto-col {
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	padding-bottom: var(--space-s);
	gap: var(--space-sm) var(--space-sm);
}

.flex-item {
	min-width: fit-content;
	align-items: center;
}

.flex-center {
	justify-content: center;
}