@import url(./variables.css);

/* UI DOCUMENT DISPLAY */

body {
	margin: 0;
}

.base-container {
	align-items: center;
	box-sizing: border-box;
	display: grid;
	gap: var(--space-s);
	grid-template-columns: var(--ui-doc-full-width);
	justify-content: center;
	max-width: 100%;
	min-width: var(--sidebar);
	width: 100%;
}

.block {
	box-sizing: border-box;
	padding: var(--space-m);
	display: grid;
	gap: var(--space-xs);
	grid-template-columns: 1fr;
	grid-auto-rows: max-content;
	/* height:100% */
}

/* DESIGN */
.header {
	width: 100%;
	height: var(--ml);
	display: grid;
	grid-template-columns: 25% 75%;
	place-items: center;
	

}
.single-centered {
	/* overflow: hidden; */
	box-sizing: border-box;
	display: grid;
	gap: var(--space-s);
	grid-template-columns: var(--full-width);
	grid-template-rows: var(--full-height);
	place-items: center;
}

.centered-block {
	height: 75%;
	width: 80%;
	max-width: 80vw;
	max-height: 60.91vh;
}

.centered-flexbox {
	display: flex;
	justify-content: center;
	align-items: center;
}

.two-col {
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	display: grid;
	gap: var(--space-s) var(--space-s);
	grid-template-columns: 48.09% 1fr;
}

.input-grid {
	width: 100%;
	box-sizing: border-box;
	grid-template-columns: 1fr;
	grid-auto-rows: var(--m);
	grid-auto-columns: 100%;
	display: grid;
	gap: var(--space-s);
	align-items: center;
	justify-items: center;
}

.two-col>p {
	margin: 0px;
	padding: 0px;
}

.form-group {
	width: 100%;
	box-sizing: border-box;
	position: relative;
}

.flexbox-auto-col {
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	padding-bottom: var(--space-s);
	gap: var(--space-sm) var(--space-sm);
}

.flex-item {
	min-width: fit-content;
	align-items: center;
}

.flex-center {
	justify-content: center;
}