@import url(./variables.css);

body {
	width:var(--full-width);
	margin: var(--body-margin) auto var(--body-margin) auto;
	/* margin:0; */
}

.vertical-spacing {
	display: grid;
	box-sizing: border-box;
	gap: var(--space-xs);
}

.sidebar-and-content {
	width:var(--full-width);
	box-sizing: border-box;
	display: grid;
	/* place-items: center; */
	grid-auto-flow: column;
	grid-template-columns: var(--percent-sidebar) var(--percent-content);
	grid-template-rows: var(--l);
	gap: 1.18%;
}

.sidebar {
	background-color: red;
	height: 100%;
	width: 100%;
}

.content {
	background-color: green;
	height: 100%;
	width: 100%;
}

.fullscreen {
	display: grid;
	grid-template-columns: var(--full-width);
	background-color: green;
	height: var(--l);
}

.full-screen-element {
	box-sizing: border-box;
}

.block {
	display: grid;
	gap: var(--space-m);
	grid-template-columns: 1fr;
	grid-auto-rows: max-content;
}

.block-two-col {
	box-sizing: border-box;
	display: grid;
	gap: var(--space-s) var(--space-s);
	grid-template-columns: 1fr 1fr;
}

.input-grid {
	box-sizing: border-box;
	grid-template-columns: 1fr;
	grid-auto-rows: var(--m);
	grid-auto-columns: 100%;
	display: grid;
	gap: var(--space-s);
	align-items: center;
	justify-items: center;
}

.block-two-col>p {
	margin: 0px;
	padding: 0px;
}

.form-group {
	box-sizing: border-box;
	position: relative;
	min-width: fit-content;
}

.flexbox-auto-col {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	gap: var(--space-sm);
}

.flex-item {
	min-width: fit-content;
	align-items: center;
}

.flex-center {
	justify-content: center;
}

