@import url(./atoms.css);

@keyframes load {
	0% {
		transform: translateY(0%) scale3d(1, 1, 1);
	}

	10% {
		transform: translateY(5%) scale3d(0.9, 1.1, 1);
	}

	20% {
		transform: translateY(10%) scale3d(0.8, 1.2, 1);
	}

	30% {
		transform: translateY(15%) scale3d(0.7, 1.3, 1);
	}

	40% {
		transform: translateY(20%) scale3d(0.8, 1.2, 1);
	}

	50% {
		transform: translateY(25%) scale3d(0.9, 1.1, 1);
	}

	60% {
		transform: translateY(30%) scale3d(1, 1, 1);
	}

	70% {
		transform: translateY(35%) scale3d(1.1, 0.9, 1);
	}

	80% {
		transform: translateY(35%) scale3d(1.2, 0.8, 1);
	}

	90% {
		transform: translateY(35%) scale3d(1.3, 0.7, 1);
	}

	100% {
		transform: translateY(35%) scale3d(1.4, 0.6, 1);
	}
}

@keyframes breathe {
	0% {
		transform: scale3d(1, 1, 1);
	}

	25% {
		transform: scale3d(1, 1.05, 1);
	}

	50% {
		transform: scale3d(1, 1, 1);
	}

	75% {
		transform: scale3d(1, 0.95, 1);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
}

.breathe {
	transform-origin: bottom center;
	animation: breathe 3s linear alternate infinite;
}

.load {
	transform-origin: bottom center;
	animation: load .5s linear alternate infinite;
}

.load:nth-child(1) {
	animation-delay: 0s;
}

.load:nth-child(2) {
	animation-delay: .20s;
}

.load:nth-child(3) {
	animation-delay: .40s;
}

.icon {
	height: 32px;
	width: 32px;
}

.horizontal-menu-wrapper {
	align-items: center;
	box-sizing: border-box;
	display: grid;
	gap: var(--space-sm) var(--space-sm);
	grid-auto-columns: minmax(0, 1fr);
	grid-auto-flow: column;
	grid-auto-rows: minmax(0, 1fr);
	justify-content: center;
	justify-items: center;
}

.vertical-menu-wrapper {
	align-items: center;
	box-sizing: border-box;
	display: grid;
	gap: var(--space-s) var(--space-s);
	grid-auto-columns: minmax(0, 1fr);
	grid-auto-rows: minmax(0, 1fr);
	justify-content: center;
	justify-items: center;
	width: var(--single-col);
}

.menu-element {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: var(--space-s);
}

.flexbox-auto-col {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	gap: var(--space-sm);
}

.flex-item {
	min-width: fit-content;
	align-items: center;
	/* flex: 1 1 0; */
}

.flex-center {
	justify-content: center;
}

.input-with-button {
	box-sizing: border-box;
	display: grid;
	grid-template-columns: 1.5fr 0.5fr;
	grid-auto-rows: var(--m);
	gap: var(--space-s) var(--space-sm);
	width: var(--single-col);
}

.input-with-button>span {
	padding: 0;
}

.search-icon-dark {
	height: var(--s);
	width: var(--s);
	position: absolute;
	top: 4px;
	left: 4px;
}

.search-result {
	width: var(--single-col);
	box-sizing: border-box;
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--space-s) var(--space-s);
}

.user-search-result {
	width: 100%;
	display: flex;
	align-items: flex-end;
	gap: var(--space-s);
}

.user-search-result>p {
	padding: var(--space-s);
	line-height: 1;
}

.fail-wrapper {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
}

.fail-wrapper>img {
	height: var(--image-xl);
	width: var(--image-xl);
}

.user-search-result>p>a {
	text-decoration: none;
}

.content-center-outer-div {
	width: 100%;
	align-items: center;
	box-sizing: border-box;
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	z-index: 2;
}

.content-center-inner-div {
	padding: var(--space-l);
	width: 75%;
	display: grid;
	box-sizing: border-box;
	grid-template-columns: 1fr;
}

.popup {
	display: grid;
	gap: var(--space-m);
	grid-template-columns: subgrid;
	align-items: center;
	justify-items: center;
}

.popup>.horizontal-menu-wrapper {
	width: var(--single-col);
}

.popup>.title-and-paragraph>p {
	text-align: center;
}

.loader-container {
	box-sizing: border-box;
	display: flex;
	flex-direction: wrap;
	justify-content: center;
	gap: var(--space-l);
}

.notification-text {
	width: fit-content;
	position: relative;
	outline: orange 2px solid;
}

.notification-text::after {
	content: "";
	background-color: orange;
	outline: orange 2px solid;
	position:absolute;
	right: -10px;
	top: 40px;
	border-bottom: 20px solid transparent;
  border-top: 20px solid #eee;
  border-right: 20px solid transparent;

}

.notification-icon-container {
	background-color: aqua;
	width:fit-content;
	position: relative;
}

.notification-reveal {
	width: fit-content;
	position: relative;
	display: flex;
	align-items: flex-start;
	gap: var(--space-m);
}

.unread-notification {
	position: absolute;
	top:24px;
	right:24px;
	display:flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	background-color: var(--red);
	width: var(--s);
	height: var(--s);
	padding: var(--space-s);
}

.unread-notification>span {
	color: var(--white);
	padding: 0;
	margin: 0;
}