@import url(./variables.css);

.user-card {
	width: var(--single-col);
	box-sizing: border-box;
	padding: var(--space-sm);
	display: grid;
	grid-template-columns: var(--avatar-m) 1fr var(--space-xl);
	grid-template-rows:  var(--avatar-m) 1fr var(--m);
	gap: var(--space-xs) var(--space-s);
	align-items: center;
}

.biography {
	padding: var(--space-s);
}

.rank {
	font-size: var(--m);
	color: var(--yellow);
}
.username {
	font-size: var(--m);
	line-height: 100%;
	color: var(--yellow);
	text-shadow: -0.0px -0.0px var(--shadow-yellow),
		-0.2px -0.1px var(--shadow-yellow),
		-0.4px -0.2px var(--shadow-yellow),
		-0.6px -0.3px var(--shadow-yellow),
		-0.8px -0.4px var(--shadow-yellow),
		-1.0px -0.5px var(--shadow-yellow),
		-1.2px -0.6px var(--shadow-yellow),
		-1.4px -0.7px var(--shadow-yellow),
		-1.6px -0.8px var(--shadow-yellow),
		-1.8px -0.9px var(--shadow-yellow),
		-2.0px -1.0px var(--shadow-yellow);
	display: grid;
	grid-template-columns: auto 10%;
	justify-items: center;
	align-items: center;
	justify-content: left;
	width: 80%;
}

.user-status {
	height: var(--space-s);
	width: var(--space-s);
	background-color: var(--red);
	border-radius: 30px;
	line-height: 110%;
}

.profile-page {
	min-width: fit-content;
	width: 65vw;
	box-sizing: border-box;
	padding: var(--space-m);
}

.profile-header {
	padding: var(--space-m);
	position: relative;
	display: grid;
	grid-template-columns: var(--image-xxl) 1fr 1fr var(--menu-element);
	grid-template-rows: 1fr 1fr 1fr 1fr;
	justify-content: space-around;
	align-items: center;
	justify-items: center;
	gap: var(--space-xs) var(--space-m);
}

.profile-header>.vertical-menu-wrapper {
	width: var(--menu-element);
}

.profile-header .username {
	font-size: var(--l);
	display: grid;
	grid-template-columns: auto 10%;
	justify-content: left;
	width: 100%;
}

.two-rows {
	grid-row: span 2;
}

.three-rows {
	grid-row: span 3;
}

.four-rows {
	grid-row: span 4;
}

.two-col {
	grid-column: span 2;
}

.three-col {
	grid-column: span 3;
}

.four-col {
	grid-column: span 4;
}