@import url(./variables.css);

.user-card {
	width: var(--sidebar);
	height: auto;
	box-sizing: border-box;
	padding: var(--space-sm);
	display: grid;
	grid-template-columns: var(--image-cont-m) 1fr 1fr var(--m);
	grid-template-rows: var(--image-cont-m) var(--ml) var(--m);
	gap: var(--space-s) var(--space-s);
	align-items: center;
}

.user-card>.vertical-menu-wrapper {
	gap: var(--space-xxs);
}

.biography {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp:6;
	overflow: hidden;
	width: 100%;
	text-overflow: ellipsis;
	box-sizing: border-box;
	padding: var(--space-xxs);
	line-height: 1rem;
	max-height: 6.5rem;
}

.since {
	text-align: center;
	overflow: hidden;
	width: 100%;
	text-overflow: ellipsis " [...]";
	box-sizing: border-box;
	padding: var(--space-xs);
	max-height: 9ch;
	display: block;
}

.rank {
	color: var(--yellow);
	text-shadow:
		-1px -1px var(--orange),
		-2px -1px var(--orange);
	font-family: PixelOperatorBold;
	font-size: var(--s);
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.username {
	align-items: center;
	color: var(--yellow);
	text-shadow:
		-1px -1px var(--orange),
		-2px -1px var(--orange);
	display: grid;
	font-family: PixelOperatorBold;
	font-size: var(--s);
	grid-template-columns: auto 10%;
	justify-content: left;
	justify-items: center;
	width: 100%;
}

.user-status {
	height: var(--space-s);
	width: var(--space-s);
	background-color: var(--red);
	border-radius: 30px;
	line-height: 110%;
}

.profile-page {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: (minmax(0, 1fr));
	align-content: center;
	min-width: 495.7px;
	min-height: var(--full-height-wheader);
	box-sizing: border-box;
	padding: var(--space-xs);
	position: relative;
	justify-items: center;
	gap: var(--space-s);
}

.profile-header {
	height: 40%;
	box-sizing: border-box;
	position: relative;
	display: grid;
	grid-template-columns: var(--image-cont-xl) 1fr var(--image-cont-l);
	grid-template-rows: var(--ml) var(--ml) var(--m);
	align-items: center;
	justify-items: center;
	gap: var(--space-xxs) var(--space-xxs);
}

.game-history {
	width:100%;
	min-height: 50%;
	display: grid;
	grid-auto-flow: row;
	/* gap: var(--space-xs); */
}

.game-history-match {
	box-sizing: border-box;
	width:100%;
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	justify-content: space-evenly;
	justify-items: center;
	border-left: solid 0.5px var(--shadow-1);
}

.game-history-header span {
	font-family: PixelOperatorBold;
	line-height: 150%;
	color: var(--orange);
}

.game-history .game-history-match span {
	width: 100%;
	text-align: center;
	border-right: solid 0.5px var(--shadow-1);
}

.profile-header>.username{
	font-size: var(--m);
}

.profile-page>.profile-tabs {
	width: 90%;
}

.two-rows {
	grid-row: span 2;
}

.three-rows {
	grid-row: span 3;
}

.four-rows {
	grid-row: span 4;
}

.two-col {
	grid-column: span 2;
}

.three-col {
	grid-column: span 3;
}

.four-col {
	grid-column: span 4;
}