:root {
	font-size: 100%;
	font-family: PixelOperator;
	margin: 0;
	padding: 0;

	/* Images and image containers */
	--image-s: 1.5rem;
	--image-m: 2.43rem;
	--image-l: 6.36rem;
	--image-xl: 10.29rem;
	--image-xxl: 16.65rem;

	--image-cont-s: 2.5rem;
	--image-cont-m: 3.43rem;
	--image-cont-l: 7.36rem;
	--image-cont-xl: 11.29rem;
	--image-cont-xxl: 17.65rem;

	/* Golden ratio spacing */
	--nspace-xs: -0.5rem;
	--nspace-s: -0.81rem;
	--nspace-sm: -1.31rem;
	--nspace-m: -2.12rem;

	--space-xxs: 0.25rem;
	--space-xs: 0.5rem;
	--space-s: 0.81rem;
	--space-sm: 1.31rem;
	--space-m: 2.12rem;
	--space-ml: 3.43rem;
	--space-l: 5.55rem;
	--space-xl: 8.98rem;

	/* Font sizing */
	--regular: 1rem;
	--s: 1.62rem;
	--m: 2.62rem;
	--ml: 4.24rem;
	--l: 6.86rem;
	--xl: 11.10rem;

	/* Elements sizes */
	--percent-sidebar: 38.06%;
	--percent-content: 61.94%;

	--sidebar: 33.42rem;
	--content: 54.08em;

	--ui-doc-full-width: 74.91vw;

	--full-height-wheader: 92.5vh;
	--full-height: 100vh;
	--full-width: 100vw;
	--min-width: 600px;
	--min-height: 800px;

	/* Palette */
	--white: #fffcf7;
	--black: #372a25;
	--gradient1: #131254;
	--gradient2: #0f88fa;
	--gradient3: #64e6e8;
	--gradient4: #d1ffda;

	--transparent-blue: #64e6e834;

	--highlight-green: #bde559;
	--green: #76c54b;
	--shadow-green: #04983a;

	--highlight-orange: #EE881C;
	--orange: #BC6511;
	--shadow-orange: #9a4a0d;

	--highlight-red: #E37248;
	--red: #AA4926;
	--shadow-red: #9A3E1C;

	--highlight-yellow: #FFE6A4;
	--yellow: #FFB800;
	--shadow-yellow: #966c00;


	--neutral-border: #773d16;
	--border-red: #6B1D00;
	--border-green: #005a44;

	--coffee: #835441;
	--disabled: #fdeec8;
	--shadow-1: #C4AB9A;
	--shadow-2: #8F5F3F;
	--title-shadow: #AC5A0E;

	.title-shadow {
		text-shadow:
			-0.0px -0.0px var(--title-shadow),
			-0.2px -0.1px var(--title-shadow),
			-0.4px -0.2px var(--title-shadow),
			-0.6px -0.4px var(--title-shadow),
			-0.8px -0.4px var(--title-shadow),
			-1.0px -0.5px var(--title-shadow),
			-1.2px -0.6px var(--title-shadow),
			-1.4px -0.7px var(--title-shadow),
			-1.6px -0.8px var(--title-shadow),
			-1.8px -0.9px var(--title-shadow),
			-2.0px -1.0px var(--title-shadow),
			-2.2px -1.1px var(--title-shadow),
			-2.4px -1.2px var(--title-shadow),
			-2.6px -1.3px var(--title-shadow),
			-2.8px -1.4px var(--title-shadow),
			-3.0px -1.5px var(--title-shadow),
			-3.2px -1.6px var(--title-shadow),
			-3.4px -1.7px var(--title-shadow),
			-3.6px -1.8px var(--title-shadow),
			-3.8px -1.9px var(--title-shadow),
			-4.0px -2.0px var(--title-shadow);
	}
}

.document-title {
	font-weight: bold;
	margin-bottom: 1rem;
	text-transform: capitalize;
}